<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Feedback{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand" style="color: #2dbe60">Feedback</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                <li><a href="{{ url_for('profile') }}" title="Your Profile">{{ user.name }}</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ oauth_url }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}
    No content here! Please check back later.
    {% endblock %}
</body>
</html>
