{% extends "base.html" %}

{% block title %}Music League | Hello{% endblock %}

{% block content %}

<div class="container text-center">
    <form method="post">
        <div class="row">
            <div class="col-lg-6">
                <img src="{{ tracks[0].album.images[1].url }}" height="{{ tracks[0].album.images[1].height }}" width="{{ tracks[0].album.images[1].width }}" alt="" class="inline-block">
                <div class="inline-block">
                    <h3>{{ tracks[0].name }}</h3>
                    <h5>{{ tracks[0].artists[0].name }}</h5>
                    <h5>{{ tracks[0].album.name }}</h5>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="{{ tracks[1].album.images[1].url }}" height="{{ tracks[1].album.images[1].height }}" width="{{ tracks[1].album.images[1].width }}" alt="" class="inline-block">
                <div class="inline-block">
                    <h3>{{ tracks[1].name }}</h3>
                    <h5>{{ tracks[1].artists[0].name }}</h5>
                    <h5>{{ tracks[1].album.name }}</h5>
                </div>
            </div>

        </div>
        <div class="row" style="margin: 30px 0px"></div>
        <button type="submit" class="btn btn-success">Confirm</button>
    </form>
</div>

{% endblock %}
