{% extends "base.html" %}

{% block title %}Music League | {{ league.name }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ league.name }}</h1>

            <table>
                <tr><td>Owner:</td><td><a href="{{ url_for('view_user', user_id=league.owner.id) }}">{{ league.owner.name }}</a></td></tr>
                <tr><td>Created:</td><td>{{ league.created.strftime('%m/%d/%Y') }}</td></tr>
                <tr><td>Locked:</td><td>{{ league.locked }}</td></tr>
            </table>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-md-9">

            <div class="row" style="margin: 20px 0px">
                {% if user == league.owner %}
                <a href="{{ url_for('post_create_submission_period', league_name=league.name) }}" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Submission Period</a>
                {% endif %}
                {% if user in league.users and league.current_submission_period %}
                <a href="{{ url_for('view_submit', league_name=league.name) }}" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;Submit</a>
                {% endif %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Playlist</th>
                                <th>Submitted</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for submission_period in league.submission_periods|reverse %}
                                {% if submission_period.is_current %}
                                <tr class="info">
                                {% else %}
                                <tr>
                                {% endif %}
                                    <td>
                                        {% if submission_period.id|string == edit %}
                                        <form method="post" action="{{ url_for('rename_submission_period', league_name=league.name, submission_period_id=submission_period.id) }}">
                                            <input type="text" class="form-control" name="new_name" value="{{ submission_period.name }}">
                                        </form>
                                        {% else %}
                                        <a href="{{ url_for('view_submission_period', league_name=league.name, submission_period_id=submission_period.id) }}">{{ submission_period.name }}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if submission_period.playlist_created %}
                                        <a href="{{ submission_period.playlist_url }}" target="_blank">Spotify</a>
                                        {% else %}
                                        Pending
                                        {% endif %}
                                    </td>
                                    <td>{{ submission_period.submissions|length }} / {{ league.users|length }}</td>
                                    <td>
                                        {% if league.owner == user %}
                                        <a href="{{ url_for('view_league', league_name=league.name) }}?edit={{ submission_period.id }}">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a href="{{ url_for('remove_submission_period', league_name=league.name, submission_period_id=submission_period.id) }}">
                                            <i class="fa fa-times" aria-hidden="true" style="color: red"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-md-3">
            <h3>Users</h3>

            {% for user in league.users %}
            <p><a href="{{ url_for('view_user', user_id=user.id) }}">
                <img src="{{ user.image_url }}" alt="" class="img img-circle" height="30" width="30" style="margin-right: 10px">
                {{ user.name }}
                <a href="{{ url_for('remove_user_for_league', league_name=league.name, user_id=user.id) }}">
                    <i class="fa fa-times" aria-hidden="true" style="color: red"></i>
                </a>
            </a></p>
            {% endfor %}

            <form action="{{ url_for('add_user_for_league', league_name=league.name) }}" method="post" class="">
                <div class="control-group input-group">
                  <input type="text" class="form-control" name="email" id="add_user" placeholder="Email or Name">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-plus"></i></button>
                  </span>
                </div>
            </form>

        </div>

    </div>

</div>

{% endblock %}

{% block jq %}
<script type = "text/javascript">
    $(function() {
        $( "#add_user" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "{{ url_for('autocomplete') }}",
                    dataType: "json",
                    data: {term: request.term},
                    success: function( data ) { response( data ); }
                });
            },
            minLength: 2,
        });
    });
</script>
{% endblock %}
