{% extends "base.html" %}

{% block title %}Music League | {{ league.name }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ league.name }}</h1>
            <p>Public League <i class="text-muted">Created on {{ moment(league.created).format('MM/DD/YY') }}</i></p>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-md-9">

            <div class="row" style="margin: 20px 0px">
                {% if league.has_owner(user) %}
                <a href="#edit-modal" data-toggle="modal" data-target="#edit-modal" class="btn btn-primary"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
                <a href="{{ url_for('post_create_submission_period', league_id=league.id) }}" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Submission Period</a>
                {% endif %}
                {% if user in league.users and league.current_submission_period and not league.preferences.locked %}
                    {% if league.current_submission_period.accepting_submissions %}
                    <a href="#submit-modal" data-toggle="modal" data-target="#submit-modal" class="btn btn-primary"><i class="fa fa-archive" aria-hidden="true"></i>&nbsp;Submit</a>
                    {% elif league.current_submission_period.accepting_votes %}
                    <a href="" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Vote</a>
                    {% endif %}
                {% endif %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Weekly Playlist</i></th>
                                <th>Deadline</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for submission_period in league.submission_periods|reverse %}
                                {% if submission_period.playlist_created %}
                                <a href="{{ submission_period.playlist_url }}" target="_blank">
                                {% endif %}
                                <tr>
                                    <td>{{ submission_period.name }}</td>
                                    <td>
                                        {% if submission_period.accepting_submissions %}
                                        {{ moment(submission_period.submission_due_date).format('MM/DD/YY hA') }}
                                        {% elif submission_period.accepting_votes %}
                                        {{ moment(submission_period.vote_due_date).format('MM/DD/YY hA') }}
                                        {% else %}
                                        <i class="text-muted">Completed on {{ moment(submission_period.vote_due_date).format('MM/DD/YY') }}</i>
                                        {% endif %}
                                    </td>
                                    <td></td>
                                </tr>
                                {% if submission_period.playlist_created %}
                                </a>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-md-3">
            <h3>Users</h3>

            {% for league_user in league.users %}
            <p>
                <a href="{{ url_for('view_user', user_id=league_user.id) }}">
                    <img src="{{ league_user.image_url }}" alt="" class="img img-circle" height="30" width="30" style="margin-right: 10px">
                    {{ league_user.name }}
                </a>
                {% if league.has_owner(league_user) %}
                <span class="text-muted">(Owner)</span>
                {% endif %}
                {% if league.has_owner(user) %}
                &nbsp;
                <a href="{{ url_for('remove_user_for_league', league_id=league.id, user_id=league_user.id) }}">
                    <i class="fa fa-times" aria-hidden="true" style="color: red"></i>
                </a>
                {% endif %}
            </p>
            {% endfor %}
            {% if league.has_owner(user) %}
            <form action="{{ url_for('add_user_for_league', league_id=league.id) }}" method="post" class="">
                <div class="control-group input-group">
                    <input type="text" class="form-control" name="email" id="add_user" placeholder="Email or Name">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </span>
                </div>
            </form>
            {% endif %}
        </div>

    </div>

</div>

{% include "modals/edit_league.html" %}
{% include "modals/submit.html" %}

{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function() {
        $( "#add_user" ).autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "{{ url_for('autocomplete') }}",
                    dataType: "json",
                    data: {term: request.term},
                    success: function( data ) { response( data ); }
                });
            },
            minLength: 2
        });
    });
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
        {% if action == 'submit' %}$('#submit-modal').modal('show');{% endif %}
    });
</script>
<script type="text/javascript">
{% include "modals/submit.js" %}
</script>
<script type="text/javascript">
{% include "modals/edit_league.js" %}
</script>
{% endblock %}
