{% extends "base.html" %}

{% block title %}Feedback | Hello{% endblock %}

{% block content %}

<div class="container">
    <div class="row">

        <h1>Welcome to Your Profile, {{ user.name }}!</h1>

        <div style="margin: 30px 0px" class="col-lrg-12">
            <form action="{{ url_for('post_create_season') }}" method="post">

                <div class="input-group">
                  <input type="text" class="form-control" name="season_name">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create
                    </button>
                  </span>
                </div>
            </form>
        </div>

    </div>

    <div class="row">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Created</th>
                    <th>Locked</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for season in seasons %}
                    <tr>
                        <td><a href="{{ url_for('view_season', season_name=season.name) }}">{{ season.name }}</a></td>
                        <td><a href="{{ url_for('view_user', user_id=season.owner.id) }}">{{ season.owner.name }}</a></td>
                        <td>{{ season.created.strftime('%m/%d/%Y') }}</td>
                        <td>{{ season.locked }}</td>
                        <td>
                            {% if season.owner == user %}
                            <a href="{{ url_for('remove_season', season_name=season.name) }}"><i class="fa fa-times" aria-hidden="true" style="color: red"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}
