{% extends "base.html" %}

{% block title %}Feedback | {{ season.name }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 class=text-center>{{ season.name }}</h1>

            <div style="margin: 30px 0px"></div>

            <dl class="dl-horizontal" style="font-size: 1.2em">
                <dt>Owner:</dt><dd><a href="{{ url_for('view_user', user_id=season.owner.id) }}">{{ season.owner.name }}</a></dd>
                <dt>Created:</dt><dd>{{ season.created.strftime('%m/%d/%Y') }}</dd>
                <dt>Locked:</dt><dd>{{ season.locked }}</dd>
                <dt>Users:</dt>
                <dd>
                    <table>
                        {% for u in season.users %}
                        <tr><a href="{{ url_for('view_user', user_id=u.id) }}">{{ u.name }}</a></tr>
                        {% endfor %}
                    </table>
                </dd>
                {% if user in season.users %}
                <a href="{{ url_for('view_submit', season_name=season.name) }}" class="btn btn-success"><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;Submit</a>
                {% endif %}
                {% if user == season.owner and not season.playlist_url %}
                <a href="{{ url_for('create_spotify_playlist', season_name=season.name) }}" class="btn btn-success"><i class="fa fa-spotify" aria-hidden="true"></i>&nbsp;Create Playlist</a>
                {% else %}
                <a href="{{ season.playlist_url }}" target="_blank" class="btn btn-success"><i class="fa fa-spotify" aria-hidden="true"></i>&nbsp;Playlist</a>
                {% endif %}
            </dl>
        </div>
    </div>
    <div class="row">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Playlist</th>
                    <th># Submissions</th>
                    <th>Complete</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for submission_period in season.submission_periods %}
                    <tr>
                        <td>{{ submission_period.name }}</td>
                        <td>
                            {% if submission_period.playlist_created %}
                            <a href="{{ submission_period.playlist_url }}">Spotify</a>
                            {% else %}
                            Pending
                            {% endif %}
                        </td>
                        <td>{{ submission_period.submissions|length }}</td>
                        <td>{{ submission_period.complete }}</td>
                        <td>
                            {% if season.owner == user %}
                            <!-- TODO: url for deleting submission period -->
                            <a href=""><i class="fa fa-times" aria-hidden="true" style="color: red"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}
