{% extends "base.html" %}

{% block title %}Music League | Hello{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/toggle.min.css">
{% endblock %}

{% block content %}

<div class="container">
    <form method="post" class="form">

        <div class="row">

            <div class="col-md-6 col-md-offset-3">

                <div class="form-group">
                    <h1>As a League Owner</h1>
                </div>

                {% for field_name in user.preferences._fields %}
                    {% if user.preferences._fields[field_name].role == 'owner' %}
                    <div class="form-group">
                        <div class="checkbox checkbox-slider--b-flat">
                            <label>
                                <input type="checkbox" {% if user.preferences[field_name] %}checked{% endif %} name="{{ field_name }}">
                                <span>{{ user.preferences._fields[field_name].verbose_name }}</span>
                            </label>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

            </div>

        </div>

        <div class="spacer"></div>

        <div class="row">

            <div class="col-md-6 col-md-offset-3">

                <div class="form-group">
                    <h1>As a League Contributor</h1>
                </div>

                {% for field_name in user.preferences._fields %}
                    {% if user.preferences._fields[field_name].role == 'user' %}
                    <div class="form-group">
                        <div class="checkbox checkbox-slider--b-flat">
                            <label>
                                <input type="checkbox" {% if user.preferences[field_name] %}checked{% endif %} name="{{ field_name }}">
                                <span>{{ user.preferences._fields[field_name].verbose_name }}</span>
                            </label>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

            </div>

        </div>

        <div class="spacer"></div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-success">Save</button>
                <a href="." class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}
