{% extends "base.html" %}

{% block title %}Music League | Submit{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="well col-md-4 col-md-offset-4">
            <h1 class=text-center>Submit</h1>
            <form method="post" action="">
                {% for i in range(1, league.preferences.track_count + 1) %}
                <div class="form-group">
                    <label for="track{{ i }}">Track #{{ i }}:</label>
                    <input type="text" class="form-control" name="track{{ i }}" id="track{{ i }}" placeholder="Spotify Link or URI">
                </div>
                {% endfor %}
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(
        function () {
            $('#track1').focus();
        }
    );
</script>
{% endblock %}
