{% extends "base.html" %}

{% block title %}Music League | {{ submission_period.name }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ submission_period.name }}</h1>
            <h3><a href="{{ url_for('view_league', league_id=league.id )}}">{{ league.name }}</a></h3>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="row">
        <div class="col-md-12">
        {% if league.has_owner(user) %}
            <a href="#" data-toggle="modal" data-target="#edit-modal" class="btn btn-primary"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
        {% endif %}
        {% if submission_period.playlist_created %}
            <!-- Anyone should see the playlist link if one has been created -->
            <a href="{{ submission_period.playlist_url }}" target="_blank" class="btn btn-primary"><i class="fa fa-spotify"></i>&nbsp;Playlist</a>
            {% if league.has_owner(user) %}
            <!-- Owners should be able to regenerate the playlist from current submission period state -->
            <a href="{{ url_for('create_spotify_playlist', league_id=league.id) }}" target="_blank" class="btn btn-primary"><i class="fa fa-spotify"></i>&nbsp; Regenerate Playlist</a>
            {% endif %}
        {% else %}
            <!-- If no playlist has been created, owners should be able to create one -->
            {% if user == league.owner and submission_period == league.current_submission_period %}
            <a href="{{ url_for('create_spotify_playlist', league_id=league.id) }}" target="_blank" class="btn btn-primary"><i class="fa fa-spotify"></i>&nbsp;Create Playlist</a>
            {% endif %}
        {% endif %}
        </div>
    </div>

    <div class="spacer"></div>

    <div class="row">
        <div class="col-md-12">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Tracks</th>
                        <th>Submitter</th>
                        <th>Created</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for submission in submission_period.submissions|reverse %}
                        <tr>
                            <td>
                                <ul>
                                {% for track in tracks %}
                                <li><a href="{{ track['external_urls']['spotify'] }}">{{ track['name'] }} - {{track.artists[0].name }}</a></li>
                                {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <a href="{{ url_for('view_user', user_id=submission.user.id) }}">{{ submission.user.name }}</a>
                            </td>
                            <td>{{ submission.created.strftime('%m/%d/%Y') }}</td>
                            <td>
                                {% if user == submission.user  or user == league.owner %}
                                <a href="{{ url_for('remove_submission', league_id=league.id, submission_period_id=submission_period.id, submission_id=submission.id) }}">
                                    <i class="fa fa-times" aria-hidden="true" style="color: red"></i>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% include "modals/edit_submission_period.html" %}

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
{% include "modals/edit_submission_period.js" %}
</script>
{% endblock %}
