{% extends "base.html" %}

{% block title %}Music League | Register{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="container">
            <div class="col-md-3 text-center">
                <img class="img img-circle" src="{{ user_image['url'] }}" alt="{{ page_user.name }}" height="{{ user_image['height'] }}" width="{{ user_image['width'] }}">
            </div>
            <div class="col-md-9">
                <h1>{{ page_user.name }}</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}
