{% extends "base.html" %}

{% block title %}Music League | Register{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <img class="img img-circle" src="{{ page_user.image_url }}" alt="{{ page_user.name }}">
        </div>
        <div class="col-md-9">
            <h1>{{ page_user.name }}</h1>
            <p>Owns {{ owner_leagues }} league(s)</p>
            <p>Contributes to {{ contributor_leagues }} league(s)</p>
        </div>
    </div>
</div>

{% endblock %}
