{% extends "base.html" %}

{% block title %}Music League | User{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <img class="img img-circle" src="{{ page_user.image_url }}" alt="{{ page_user.name }}">
        </div>
        <div class="col-md-9">
            <h1>{{ page_user.name }}</h1>
            <p>Owns {{ owner_leagues }} league(s)</p>
            <p>Contributes to {{ contributor_leagues }} league(s)</p>
        </div>
    </div>

    <div class="row spacer" style="display: flex; align-items: center">
        <div class="col-md-6">
            {% if page_user == user %}
            <h2>Your Leagues</h2>
            {% else %}
            <h2>{{ page_user.first_name }}&rsquo;s Leagues</h2>
            {% endif %}
        </div>
        <div class="col-md-6 text-right">
            {% if request.url_rule.endpoint == 'profile' %}
            <form action="{{ url_for('post_create_league') }}" method="post">
                <button class="btn btn-success" type="submit">
                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create
                </button>
            </form>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Created</th>
                        <th>Locked</th>
                        {% if request.url_rule.endpoint == 'profile' %}
                        <th></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for league in leagues %}
                        <tr>
                            <td><a href="{{ url_for('view_league', league_id=league.id) }}">{{ league.name }}</a></td>
                            <td><a href="{{ url_for('view_user', user_id=league.owner.id) }}">{{ league.owner.name }}</a></td>
                            <td>{{ league.created.strftime('%m/%d/%Y') }}</td>
                            <td>{{ league.preferences.locked }}</td>
                            <td>
                                {% if league.has_owner(user) and request.url_rule.endpoint == 'profile' %}
                                <a href="{{ url_for('remove_league', league_id=league.id) }}"><i class="fa fa-times" aria-hidden="true" style="color: red"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}
