{% extends "base.html" %}

{% block title %}Feedback | {{ season.name }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="well col-md-4 col-md-offset-4">
            <h1 class=text-center>{{ season.name }}</h1>
            <ul>
                <li>Created: {{ season.created }}</li>
                <li>Submissions: {{ season.submissions|length }}</li>
                <li>Locked: {{ season.locked }}</li>
            </ul>
            {% if season.owner == user %}
            <a href="#" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
