{% extends "frame.html" %}

{% block title %}Music League | Admin{% endblock %}

{% block css %}
<style>
body {background-color: #f3f3f3; }

#title-bar { margin-bottom: 30px; padding: 0; }

.league {
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px 25px;
}

.league-options, .round-options {
    padding: 15px 25px;
}
</style>
{% endblock %}

{% block page_content %}

<div class="container">
    {% for league in leagues %}
    <div class="row league">
        <div class="row">
            <div class="col-md-10">
                <h5>{{ league.name }}</h5>
            </div>
            <div class="col-md-2 text-right">
                <a href="{{ url_for('view_league', league_id=league.id) }}" target="_blank"><h5>View</h5></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        $(.collapse).collapse();
    });
</script>
{% endblock %}
