<div class="round-bar {%if round.is_complete %}complete{% elif round.is_current_v2 %}current{% endif %}">
    <div class="container">
        <div class="row"><!--
            {% if round.is_complete or league.has_owner(user) %}
        --><div class="col-xs-12 col-sm-2 text-center vcenter">
            {% else %}
        --><div class="col-xs-12 col-sm-2 text-center vcenter">
            {% endif %}
                <span alt="" class="round-status-icon{% if round.is_complete %} complete{% elif  round.is_current_v2 %} current{% endif %}"></span>
                <div class="visible-xs" style="padding: 10px 0"></div>
            </div><!--
        --><div class="col-xs-12 col-sm-5 vcenter">
                <div class="row">
                    <div class="text-center-xs">
                        {% if round.is_complete or league.has_owner(user) %}
                        <a href="{{ url_for('view_submission_period', league_id=league.id, submission_period_id=round.id) }}" class="round-title{% if round.is_complete %} complete{% elif  round.is_current_v2 %} current{% endif %}">{{ round.name }}</a>
                        {% else %}
                        <span class="round-title{% if round.is_complete %} complete{% elif  round.is_current_v2 %} current{% endif %}">{{ round.name }}</span>
                        {% endif %}
                        <div class="visible-xs" style="padding: 5px 0"></div>
                        {% if round.description %}
                        <span class="status-text{% if round.is_complete %} complete{% elif  round.is_current_v2 %} current{% endif %}">{{ round.description }}</span>
                        {% endif %}
                    </div><!--
                    --><div class="text-center-xs">
                        {% if round.is_complete %}
                            <span class="status-text complete">{{ moment(round.vote_due_date).format('[Completed on] MM.DD.YY') }}</span>
                        {% elif round.is_current_v2 %}
                            {% if round.accepting_submissions %}
                            <span class="status-text current">{{ moment(round.submission_due_date).format('[Submissions due on] MM.DD.YY [at] hA') }}</span>
                            {% elif round.accepting_votes %}
                            <span class="status-text current">{{ moment(round.vote_due_date).format('[Votes due on] MM.DD.YY [at] hA') }}</span>
                            {% endif %}
                        {% else %}
                            <span class="status-text">{{ moment(prev_round.vote_due_date).format('[Live on] MM.DD.YY [at] hA') }}</span>
                        {% endif %}
                        <div class="visible-xs" style="padding: 10px 0"></div>
                    </div><!--
                    --><div id="current-round-progress" class="text-center-xs action-progress">
                        <div class="visible-xs">
                            {% if round.accepting_submissions %}
                            <span class="text-progress progress-toggle"><span class="emphasize">{{ round.submissions|length }} of {{ league.users|length }}</span> Have Submitted</span>
                            {% else %}
                            <span class="text-progress progress-toggle"><span class="emphasize">{{ round.votes|length }} of {{ league.users|length }}</span> Have Voted</span>
                            {% endif %}
                            <br>
                        </div>
                        <div class="hidden-xs">
                            {% if round.accepting_submissions %}
                                {% set progress_perc = (round.submissions|length / league.users|length * 100)|int %}
                                {% set content = "<strong>Submitted:</strong><br>" + round.have_submitted|map(attribute='name')|join('<br>') + "<hr><strong>Waiting for:</strong><br>" + round.have_not_submitted|map(attribute='name')|join('<br>') %}
                            {% else %}
                                {% set progress_perc = (round.votes|length / league.users|length * 100)|int %}
                                {% set content = "<strong>Voted:</strong><br>" + round.have_voted|map(attribute='name')|join('<br>') + "<hr><strong>Waiting for:</strong><br>" + round.have_not_voted|map(attribute='name')|join('<br>') %}
                            {% endif %}
                            <div class="bar-progress progress progress-toggle" data-trigger="hover">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ progress_perc }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress_perc }}%">
                                    <span class="sr-only">{{ progress_perc }}% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--
            -->{% if not round.is_future %}<div class="col-xs-6 col-sm-2 col-sm-offset-1 text-center vcenter">
                {% if round.is_current_v2 %}
                    {% if round.accepting_submissions and league.has_user(user) %}
                        {% if my_submission %}
                        <span class="action-required">You <span class="emphasize">Have</span> Submitted</span>
                        {% else %}
                        <span class="action-required">You Have <span class="emphasize">Not</span> Submitted</span>
                        {% endif %}
                    {% elif round.accepting_votes and league.has_user(user) %}
                    <a href="{{ round.playlist_url }}" target="_blank" class="action-link" title="Listen to Playlist">
                        <span alt="" class="action-button playlist current"></span>
                        <span class="action-text current">Listen to Playlist</span>
                    </a>
                    {% endif %}
                {% elif round.is_complete %}
                    <a href="{{ round.playlist_url }}" target="_blank" class="action-link" title="Listen to Playlist">
                        <span alt="" class="action-button playlist complete"></span>
                        <span class="action-text complete">Listen to Playlist</span>
                    </a>
                {% endif %}
            </div><!--
            --><div class="col-xs-6 col-sm-2 text-center vcenter right-action">
                {% if round.is_complete %}
                    <a href="{{ url_for('view_submission_period', league_id=league.id, submission_period_id=round.id) }}" class="action-link" title="Round Results">
                        <span alt="" class="action-button results"></span>
                        <span class="action-text complete">Round Results</span>
                    </a>
                {% elif round.is_current_v2 %}
                    {% if round.accepting_submissions and league.has_user(user) %}
                        <a href="{{ url_for('view_submit', league_id=league.id, submission_period_id=round.id) }}" class="action-link" title="Submit or Change Submission">
                            {% if my_submission %}
                            <span alt="" class="action-button change"></span>
                            <span class="action-text current">Change Submissions!</span>
                            {% else %}
                            <span alt="" class="action-button submit"></span>
                            <span class="action-text current">Let's Do This!</span>
                            {% endif %}
                        </a>
                    {% elif round.accepting_votes and league.has_user(user) %}
                        <a href="{{ url_for('view_vote', league_id=league.id, submission_period_id=round.id) }}" class="action-link" title="Vote or Change Votes">
                            {% if my_vote %}
                            <span alt="" class="action-button change"></span>
                            <span class="action-text current">Change Votes!</span>
                            {% else %}
                            <span alt="" class="action-button vote"></span>
                            <span class="action-text current">Submit Votes!</span>
                            {% endif %}
                        </a>
                    {% elif round.accepting_votes %}
                        <a href="{{ round.playlist_url }}" target="_blank" class="action-link" title="Listen to Playlist">
                            <span alt="" class="action-button playlist current"></span>
                            <span class="action-text current">Listen to Playlist</span>
                        </a>
                    {% endif %}
                {% else %}
                    <!-- <a href="#" class="action-link hidden-xs" title="Future Round">
                        <span alt="" class="action-button clock"></span>
                        <span class="action-text">Waiting!</span>
                    </a> -->
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
