<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">

                <h1>Music League</h1>

                <h3>{{ league.owner.name }} has invited you to <a href="{{ url_for('join_league', _external=True, league_id=league.id, invite_id=user.id) }}">{{ league.name }}</a>!</h3>

                <p>There are now {{ league.users|length }} user(s) contributing to this league.</p>

            </div>
        </div>
    </div>
</body>
</html>
