<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <style>
        body { margin: 50px 0px; }
        h1, h3 { margin-bottom: 30px; }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">

                <h1>Music League</h1>

                <h3>Submissions for {{ url_for('view_league', league_name=league.name) }} are due in approximately 2 hours.</h3>

                <a href="{{ url_for('view_league', league_name=league.name) }}?action=submit" class="btn btn-lg btn-success">Submit</a>

            </div>
        </div>
    </div>
</body>
</html>
