<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>{{ submission.user.name }} just submitted for <a href="{{ url_for('view_submission_period', _external=True, league_name=submission.league.name, submission_period_id=submission.submission_period.id) }}">{{ submission.submission_period.name }}</a>!</h1>
                <p>This is submission #{{ submission.count }} for this user.</p>

            </div>
        </div>
    </div>
</body>
</html>
