@import url('https://fonts.googleapis.com/css?family=Nunito:400,900');

@font-face {
    font-family: 'Cubano';
    src: url("/static/fonts/Cubano/cubano-regular-webfont.ttf");
}

/* REMOVE THE NAVBAR AND SPACING UP TOP */
.navbar { display: none; margin: 0px; }
.spacer { display: none; }

body { font-family: 'Nunito', sans-serif; }

#nav-bar {
    background: none;
    border-bottom: 3px solid #fff;
    color: #fff;
    font-size: 14px;
    height: 120px;
    line-height: 19px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: right;
    width: 100%;
}

    #nav-bar .brand-wrapper {
        float: left;
        line-height: 120px;
    }

        #nav-bar .brand-wrapper .brand-icon {
            height: 86px;
            width: 70px;
        }

    #nav-bar .add-league-wrapper {
        display: inline-block;
        line-height: 120px;
        text-align: right;
        vertical-align: top;
    }

        #nav-bar .add-league-wrapper .add-league-text {
            margin-right: 10px;
        }

        #nav-bar .add-league-wrapper .add-league-icon {
            height: 32px;
            width: 32px;
        }

    #nav-bar .account-divider {
        display: inline-block;;
        margin-left: 25px;
        margin-right: 25px;
    }

    #nav-bar .account-wrapper {
        display: inline-block;
        line-height: 120px;
        text-align: right;
        vertical-align: top;
    }

        #nav-bar .account-wrapper .dropdown-menu {
            background-color: rgba(0, 37, 154, 0.85);
            border: 1px solid #fff;
            border-radius: 8px;
            color: #fff;
            font-size: 18px;
            line-height: 40px;
            margin-top: 25px;
            padding: 25px 0px;
        }

        #nav-bar .account-wrapper .dropdown-menu > li > a {
            color: #fff;
            line-height: 40px;
        }

            #nav-bar .account-wrapper .dropdown-menu > li > a > .icon {
                height: 16px;
                margin-right: 10px;
                vertical-align: middle;
                width: 16px;
            }

        #nav-bar .account-wrapper .dropdown-menu > li > a:hover {
            background-color: #fff;
            color: #02b8ef;
        }

        #nav-bar .account-wrapper .account-name {
            margin-right:10px;
        }

        #nav-bar .account-wrapper .account-icon {
            cursor: pointer;
            height: 32px;
            width: 32px;
        }

#img-bar {
    background: url("/static/images/ml_header03.jpg");
    background-attachment: scroll;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

#user-bar {
    background: none;
    color: #fff;
    font-family: 'Cubano', sans-serif;
    padding: 10px 0px;
    text-align: center;
}

    #user-bar #owned-leagues-outer {
        display: inline-block;
        text-align: right;
        width: 200px;
    }

    #user-bar .visible-xs #owned-leagues-outer { display: inline; }

        #user-bar #owned-leagues-outer #owned-leagues-inner {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
        }

            #user-bar #owned-leagues-outer #owned-leagues-star {
                display: inline-block;
                height: 29px;
                margin-right: 25px;
                width: 30px;
            }

            #user-bar #owned-leagues-outer #owned-leagues-inner .owned-leagues {
                color: #fff;
                display: block;
                font-size: 18px;
                line-height: 42px;
                text-transform: uppercase;
            }

            #user-bar #owned-leagues-outer #owned-leagues-inner .owned-leagues-count {
                color: #F8C62C;
                font-size: 2.5em;
            }

    #user-bar #user-img {
        background-color: #fff;
        border: 3px solid #fff;
        height: 190px;
        margin: 10px 50px;
        width: 190px;
    }

    #user-bar #scores-outer {
        display: inline-block;
        text-align: left;
        width: 200px;
    }

    #user-bar .visible-xs #scores-outer { display: inline; }

        #user-bar #scores-outer #scores-inner {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
        }

            #user-bar #scores-outer #scores-inner .score-item {
                color: #fff;
                display: block;
                font-size: 14px;
                line-height: 38px;
                text-transform: uppercase;
            }

            #user-bar #scores-outer #scores-inner .score-item .score { color: #F8C62C; }

        #user-bar #scores-outer #scores-star {
            display: inline-block;
            height: 29px;
            margin-left: 25px;
            width: 30px;
        }

    #user-bar #user-name {
        display: block;
        font-size: 28px;
        line-height: 34px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    #user-bar .visible-xs #stars {
        display: inline-block;
        margin: 0px 25px;
        vertical-align: middle;
        width: 30px;
    }

        #user-bar .visible-xs #stars .star {
            height: 29px;
            width: 30px;
        }

        #user-bar .visible-xs #stars .star:first-child { margin-bottom: 5px; }

        #user-bar .visible-xs #stars .star:last-child { margin-top: 5px; }

#label-bar {
    background-color: #02B8EF;
    color: #fff;
    font-family: 'Cubano', sans-serif;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.league-item {
    padding-bottom: 25px;
    text-align: center;
}
    .league-item .league-tile {
        background: url("/static/images/ml_leaguetile.jpg");
        background-attachment: scroll;
        background-repeat: no-repeat;
        border-radius: 5px;
        padding: 50px;
    }

        .league-item .league-tile .league-tile-inner {
            background-color: #fff;
            border-radius: 5px;
            height: 100%;
            padding: 15px 10px 15px 10px;
            text-align: center;
            width: 100%;
        }

            .league-item .league-tile .league-tile-inner .league-icon {
                display: inline-block;
                height: 104px;
                margin: 15px 25px;
                width: 78px;
            }

            .league-item .league-tile .league-tile-inner .league-icon.complete { width: 79px; }

            .league-item .league-tile .league-tile-inner .league-title {
                align-items: center;
                color: #02B8EF;
                display: flex;
                font-family: 'Cubano', sans-serif;
                font-size: 18px;
                font-weight: bold;
                justify-content: center;
                line-height: 22px;
                text-align: center;
                text-transform: uppercase;
                vertical-align: middle;
            }

            .league-item .league-tile .league-tile-inner .league-title.complete {
                color: #00259A;
            }

    .league-item .created-by {
        font-size: 14px;
        line-height: 19px;
        margin: 25px 0px 15px 0px;
    }

        .league-item .created-by .creator-name {
            color: #02B8EF;
            cursor: pointer;
        }

    .league-item .members a {
        color: #02B8EF !important;
        cursor: pointer;
        font-size: 14px;
        line-height: 19px;
    }

        .league-item .members .images { margin-bottom: 10px; }

            .league-item .members .images img {
                height: 40px;
                margin-right: -25px;
                width: 40px;
            }

            .league-item .members .images img:last-child { margin-right: 0px; }
