body {
    margin-bottom: 50px;
}

.text-muted { color: #b8b8b8; }
.text-green { color: #49d6ae; }

div.spacer {
    margin: 30px 0px;
}

.table > tbody > tr > td { vertical-align: middle; }

.table > tbody > .clickable-row { cursor: pointer; }

#league-created, #submission-period-created { margin-left: 5px; }

.modal {
text-align: center;
padding: 0!important;
}

.modal:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-right: -4px;
}

.modal-dialog {
display: inline-block;
text-align: left;
vertical-align: middle;
}

.modal-header { border-bottom: none; }
.modal-footer { border-top: none; }

.fade-wrapper.border-left {
    border-left: 1px solid #e5e5e5;
}

.fade-wrapper > .fade-inner {
    overflow: scroll;
    padding-bottom: 50px;
}

.fade-wrapper > .fade-gradient {
  position: absolute;
  z-index  : 1;
  bottom: 0px;
  left: 0px;
  right: 0px;
  pointer-events   : none;
  background-image : linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255 ,255 ,255 , 1) 75%);
  /*width    : 100%;*/
  height   : 100px;
}

#staging, #selection {
    height: 400px;
}

.linked { cursor: pointer; }
