bson==0.5.0
Flask==0.12.2
Flask-Moment==0.5.2
gunicorn==19.7.1
haikunator==2.1.0
Logentries==0.17
logmatic-python
mixpanel==4.3.2
psycopg2==2.7.3.2
pytz==2017.2
redis==2.10.6
requests==2.18.4
# rq==0.8.1
git+git://github.com/nvie/rq.git@master
# rq-scheduler==0.7.0
git+git://github.com/ui/rq-scheduler.git@master
# spotipy
git+git://github.com/plamere/spotipy.git@master
