bson==0.5.6
Flask==0.12.2
Flask-Moment==0.5.2
gunicorn==19.7.1
haikunator==2.1.0
Logentries==0.17
logmatic-python
mixpanel==4.3.2
psycopg2==2.7.3.2
pytz==2017.2
# redis==2.10.6
requests==2.20.0
# rq==0.8.1
rq-scheduler==0.9
sendgrid==5.6.0
spotipy==2.10.0
