    <div class="modal fade" role="dialog" id="edit-modal" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ url_for('save_league_settings', league_id=league.id) }}" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Edit League</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label" for="name">Name</label>
                            <input type="text" name="name" id="name" class="form-control" value="{{ league.name }}" autofocus="true">
                        </div>
                        <div class="form-group">
                            <label for="track_count" class="control-label">{{ league.preferences._fields['track_count'].display_name }}</label>
                            <a href="#" tabindex="-1" data-toggle="popover" data-trigger="hover" data-content="{{ league.preferences._fields['track_count'].verbose_name }}"><i class="fa fa-question-circle"></i></a>
                            <input type="number" inputmode="numeric" min="0" name="track_count" id="track_count" class="form-control" value="{{ league.preferences.track_count }}">
                        </div>
                        <div class="form-group">
                            <label for="point_bank_size" class="control-label">{{ league.preferences._fields['point_bank_size'].display_name }}</label>
                            <a href="#" tabindex="-1" data-toggle="popover" data-trigger="hover" data-content="{{ league.preferences._fields['point_bank_size'].verbose_name }}"><i class="fa fa-question-circle"></i></a>
                            <input type="number" inputmode="numeric" min="0" name="point_bank_size" id="point_bank_size" class="form-control" value="{{ league.preferences.point_bank_size }}">
                        </div>
                        <div class="form-group">
                            <label for="submission_reminder_time" class="control-label">{{ league.preferences._fields['submission_reminder_time'].display_name }}</label>
                            <a href="#" tabindex="-1" data-toggle="popover" data-trigger="hover" data-content="{{ league.preferences._fields['submission_reminder_time'].verbose_name }}"><i class="fa fa-question-circle"></i></a>
                            <input type="number" inputmode="numeric" min="0" name="submission_reminder_time" id="submission_reminder_time" class="form-control" value="{{ league.preferences.submission_reminder_time }}">
                        </div>
                        <hr>
                        <div class="checkbox">
                            <label><input type="checkbox" name="locked" {% if league.preferences.locked %}checked{% endif %}>
                                <strong>{{ league.preferences._fields['locked'].display_name }}</strong>
                                <p class="help-block">{{ league.preferences._fields['locked'].verbose_name }}</p></label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="late_submissions" {% if league.preferences.late_submissions %}checked{% endif %}>
                                <strong>{{ league.preferences._fields['late_submissions'].display_name }}</strong>
                                <p class="help-block">{{ league.preferences._fields['late_submissions'].verbose_name }}</p></label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button class="btn btn-link" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
