    <div class="modal fade" role="dialog" id="spotify-login-modal" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <h1>Welcome to Music League!</h1>
                    <div class="spacer"></div>
                    <p>Please log in with your Spotify account to get started</p>
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                    <div class="text-center">
                        <a href="{{ oauth_url }}" class="btn btn-lg btn-success"><i class="fa fa-spotify" style="margin-right: 10px"></i>Log In</a>
                    </div>
                    <div class="spacer"></div>
                </div>
            </div>
        </div>
    </div>
