{% extends "base.html" %}

{% block title %}Music League | Create A League{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/bootcomplete.css">
<link rel="stylesheet" href="/static/css/create_league.css">
{% endblock %}

{% block content %}

{% include "league/create/header.html" %}

<form action="" method="post">

    <div id="the-basics-header" class="section-header">
        <div class="container">
            <img src="/static/icons/01.svg" alt="" class="img img-circle count">
            <span class="title">The Basics</span>
        </div>
    </div>
    <div id="the-basics" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="form-group">
                        <label for="league-name">League Name</label>
                        <input type="text" class="form-control" id="league-name" name="league-name" autofocus="true">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        <label for="league-name">Number of Tracks Submitted</label>
                        <input type="text" class="form-control" id="tracks-submitted" name="tracks-submitted">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="point-bank-size">Point Bank Size</label>
                        <input type="text" class="form-control" id="point-bank-size" name="point-bank-size">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="league-members-header" class="section-header">
        <div class="container">
            <img src="/static/icons/02.svg" alt="" class="img img-circle count">
            <span class="title">League Members</span>
        </div>
    </div>
    <div id="league-members" class="section">
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12">
                    <span class="directive">Find League Members By Searching Below Or Inviting Them By Email</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        <label for="search">Search</label>
                        <input type="text" class="form-control" id="search" name="search" placeholder="Type A Name">
                    </div>
                    <div id="added-members" class="form-group">
                        <span class="title">Added League Members:</span>
                    </div>
                    <input type="hidden" id="added-members-inp" name="added-members">
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="email">Or Invite Them By Email...</label>
                        <input type="email" class="form-control" id="emai" name="email" placeholder="Enter Email Address">
                    </div>
                    <a href="#" class="btn btn-lg">Send Email</a>
                </div>
            </div>
        </div>
    </div>

    <div id="complete-header" class="section-header">
        <div class="container">
            <div class="col-md-6">
                <img src="/static/icons/03.svg" alt="" class="img img-circle count">
                <span class="title">All Done?</span>
            </div>
            <div class="col-md-5 text-right">
                <button type="submit" class="btn btn-lg">Create League</button>
            </div>
        </div>
    </div>


</form>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/jquery.bootcomplete.js"></script>
<script type="text/javascript">
$('#search').bootcomplete({
    url: '{{ url_for("autocomplete") }}',
    method: 'post',
    minLength: 3
});

$('form').submit(function(){
    var members = [];

    $('#added-members .added-member').each(function() {
        members.push(String($(this).data('id')));
    });

    var inputField = $(document.getElementById('added-members-inp'));
    inputField.val(JSON.stringify(members));

    return true;
});
</script>
{% endblock %}
