{% extends "base.html" %}

{% block title %}Music League | {{ submission_period.name }}{% endblock %}

{% block content %}

<div class="container">

    {% include "votes/header.html" %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h5>
                <a href=".votes" class="pull-right text-primary" role="button" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-chevron-down"></i> All
                </a>
            </h5>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% for result in results %}
                {% set track = result['track'] %}
                {% set uri = track['uri'] %}
                {% set track_id = track['id'] %}
                {% set submission = result['submission'] %}
                {% set votes = result['votes'] %}
                {% set points = result['points'] %}

                <div class="row track">
                    <div class="col-xs-3 col-md-3 text-center">
                        <img src="{{ track['album']['images'][0]['url'] }}" alt="" class="img img-rounded" height="75">
                    </div>
                    <div class="col-xs-7 col-md-7">
                        <strong>{{ track['name'] }}</strong>
                        <br>
                        <span class="text-muted">by {{ track['artists'][0]['name'] }}</span>
                        <br>
                        <span class="text-muted">Submitted by {{ submission.user.name }}</span>
                        <br>
                        <span class="text-primary">{{ votes|length }} {% if votes|length == 1 %}person{% else %}people{% endif %} voted for this</span>
                    </div>
                    <div class="col-xs-2 col-md-2 text-center">
                        <h3 class="text-primary">
                            {% if points %}
                            <a style="color: inherit" role="button" data-toggle="collapse" href="#{{ track_id }}" aria-expanded="false" aria-controls="{{ track_id }}">
                                {{ points }}<br><i class="fa fa-chevron-down"></i>
                            </a>
                            {% else %}
                            {{ points }}
                            {% endif %}
                        </h3>
                    </div>
                </div>
                {% if points %}
                <div id="{{ track_id }}" class="votes collapse">
                    <div class="spacer"></div>
                    {% for vote in votes %}
                    <div class="row">
                        <div class="col-xs-offset-3 col-xs-7 col-md-offset-3 col-md-7"><h4 style="font-weight: inherit">{{ vote.user.name }}</h4></div>
                        <div class="col-xs-2 col-md-2 text-center">
                            <h4 class="text-primary">{{ vote.votes[uri] }}</h4>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                <hr>

            {% endfor %}
        </div>
    </div>
</div>

{% include "modals/edit_submission_period/edit_submission_period.html" %}

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
{% include "modals/edit_submission_period/edit_submission_period.js" %}
$(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();

    $('#show-hide').click(function() {
        $('.vote,.track,.multirow').toggleClass('hidden');
    });
});
</script>
{% endblock %}
