{% extends "base.html" %}

{% block title %}Music League | Admin{% endblock %}

{% block css %}
<style>
body {background-color: #f3f3f3; }
.job {
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px 25px;
}

.job-data {
    background-color: #efefef;
    padding: 25px;
}
</style>
{% endblock %}

{% block content %}

<div class="container">
    {% for job, scheduled_time in jobs %}
    <div class="row job">
        <div class="row">
            <div class="col-md-4">
                <h5>{{ job.func_name }}</h5>
            </div>
            <div class="col-md-3 text-center">
                <h5>Created: {{ moment(job.created_at).format('MM/D/YY h:ma') }}</h5>
            </div>
            <div class="col-md-3 text-center">
                <h5>Scheduled: {{ moment(scheduled_time).format('MM/D/YY h:ma') }}</h5>
            </div>
            <div class="col-md-2 text-right">
                <a href="#{{ job.id }}-data" data-toggle="collapse"><h5>View</h5></a>
            </div>
        </div>
        <div id="{{ job.id }}-data" class="job-data collapse">
            <strong>Function:</strong> {{ job.func_name }}
            <br>
            <strong>Args:</strong> {{ job.args }}
            <br>
            <strong>Status:</strong> {{ job.status }}
            <br>
            <strong>Meta:</strong> {{ job.meta }}
            <br>
            <strong>Origin:</strong> {{ job.origin }}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        $(.collapse).collapse();
    });
</script>
{% endblock %}
