<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Music League{% endblock %}</title>

    <link rel="icon" type="image/png" href="https://s3.amazonaws.com/musicleague-static-assets/icons/favicon.png">

    <!-- Nunito -->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- JQuery -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    {% block scripts %}
    {% endblock %}

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Custom -->
    <link rel="stylesheet" href="/static/css/style_1.css">

    <!-- Unique -->
    {% block css %}
    {% endblock %}
</head>
<body>
    <div id="img-bar" style="background-image: url('https://s3.amazonaws.com/musicleague-static-assets/images/{{ user.profile_background }}')">
        <div id="nav-bar">
            <div class="brand-wrapper">
                <a href="/">
                    <img src="https://s3.amazonaws.com/musicleague-static-assets/icons/site_logo.svg" alt="" class="brand-icon">
                </a>
            </div>
            <div class="add-league-wrapper">
                <span class="add-league-text hidden-xs">Create League</span>
                <a href="{{ url_for('get_create_league') }}">
                    <img src="https://s3.amazonaws.com/musicleague-static-assets/icons/add_icon.svg" alt="" class="add-league-icon">
                </a>
            </div>
            <svg class="account-divider" width="7" height="120" viewBox="0 0 3 120" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <line stroke-linecap="round" x1="1" y1="0" x2="1" y2="90" stroke="white" stroke-width="3"/>
            </svg>
            <div class="account-wrapper">
                <span class="account-name hidden-xs">{{ user.first_name }}</span>
                <div class="dropdown" style="display: inline;">
                    <a type="button" class="dropdown-toggle account-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://s3.amazonaws.com/musicleague-static-assets/icons/account_icon.svg" alt="" class="account-icon">
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="{{ url_for('profile') }}">
                                <span id="profile-icon" class="icon"></span>
                                <span class="text">Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('view_profile_settings') }}">
                                <span id="settings-icon" class="icon"></span>
                                <span class="text">Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('logout') }}">
                                <span id="logout-icon" class="icon"></span>
                                <span class="text">Log Out</span>
                            </a>
                        </li>
                        {% if user.is_admin %}
                        <li>
                            <a href="{{ url_for('admin') }}">
                                <span id="admin-icon" class="icon"></span>
                                <span class="text">Admin</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_donations">
                <input type="hidden" name="business" value="BVHU9AKCL88K8">
                <input type="hidden" name="lc" value="US">
                <input type="hidden" name="item_name" value="Support Music League">
                <input type="hidden" name="no_note" value="0">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" style="position: absolute; top: 105px; right: 50px;">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
        <div id="title-bar">
            {% block title_bar_content %}
            {% endblock %}
        </div>
    </div>

    {% block page_content %}
    No content here! Please check back later.
    {% endblock %}

    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    {{ moment.include_moment() }}
    <script type="text/javascript" src="/static/js/base.js"></script>

    {% block js %}
    {% endblock %}
</body>
</html>
