{% extends "base.html" %}

{% block title %}Music League{% endblock %}

{% block css %}
<style>
  .navbar {
    display: none;
  }
</style>
{% endblock %}

{% block content %}

    <div class="text-center jumbotron" style="background-color: #fff; margin-top: 150px;">
        <h2>Welcome to</h2>
        <h1>Music League</h1>
        <div class="spacer"></div>
        <p>Please log in with your Spotify account to get started.</p>
        <div class="spacer"></div>
        <a href="{{ oauth_url }}" class="btn btn-lg btn-success"><i class="fa fa-spotify" style="margin-right: 10px"></i>Log In</a>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            // If we imported the spootify login modal, show it
            if ( $('#spotify-login-modal').length )
                $('#spotify-login-modal').modal('show');
        });
    </script>
{% endblock %}
