{% extends "base.html" %}

{% block title %}Music League | {{ league.name }}{% endblock %}

{% block css %}
<style>
.avatar-circle {
  width: 32px;
  height: 32px;
  background-color: #777;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.initials {
  position: relative;
  top: 8px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  font-weight: bold;
}
</style>
{% endblock %}

{% block content %}

<div class="container">
    {% if league.preferences.late_submissions and league.current_submission_period and not league.current_submission_period.accepting_submissions and not my_submission %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-info alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                The deadline for song selection has passed, but it looks like you haven't submitted! You may still do so <strong><a href="?action=submit">here</a></strong>.
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h1>{{ league.name }}</h1>
            <p>Public League <span id="league-created" class="text-muted">Created on {{ moment(league.created).format('MMM D, YYYY') }}</span></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <a href="#users" data-toggle="collapse" class="text-muted" role="button">
                <div class="row">
                    {% for league_user in league.users %}
                    {% if league_user.image_url %}
                    <img src="{{ league_user.image_url }}" alt="" class="img img-circle" height="25" width="25" style="margin-right: -15px">
                    {% endif %}
                    {% endfor %}
                </div>
                <h5 style="font-weight: inherit">{{ league.users|length }} member{% if league.users|length != 1 %}s{% endif %} <i class="fa fa-chevron-down"></i></h5>
            </a>
            <div id="users" class="collapse well">
                <div class="row">
                    {% for league_user in league.users %}
                    <div class="col-sm-6 col-sm-4 text-left" style="margin-bottom: 10px">
                        <a href="{{ url_for('view_user', user_id=league_user.id) }}">
                            {% if league_user.image_url|length %}
                            <img src="{{ league_user.image_url }}" alt="" class="img img-circle" height="32" width="32" style="margin-right: 10px">
                            {% else %}
                            <div class="avatar-circle" style="margin-right: 10px">
                                <span class="initials">{{ league_user.name[0]|upper }}</span>
                            </div>
                            {% endif %}
                            {{ league_user.name }}
                        </a>
                        {% if league.has_owner(league_user) %}
                        <span style="color: #B29600; margin-left: 5px"><i class="fa fa-legal"></i></span>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            {% if league.has_owner(user) %}
            <span data-toggle="modal" data-target="#members-modal">
                <a href="#members-modal" data-toggle="tooltip" data-placement="top" class="btn btn-default" title="Edit League Members"><i class="fa fa-user"></i></a>
            </span>
            <span data-toggle="modal" data-target="#edit-modal">
                <a href="#edit-modal" data-toggle="tooltip" data-placement="top" class="btn btn-default" title="Edit League Preferences"><i class="fa fa-gear"></i></a>
            </span>
            <a href="{{ url_for('post_create_submission_period', league_id=league.id) }}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Create New Submission Period"><i class="fa fa-plus"></i></a>
            {% endif %}

            {% if not league.has_user(user) %}
            <a href="{{ url_for('join_league', league_id=league.id) }}" class="btn btn-default" title="Join League">Join League</a>
            {% endif %}

            <div class="spacer"></div>

            {% for submission_period in league.submission_periods|reverse %}
            {% set needs_to_submit = submission_period.accepting_submissions and not my_submission %}
            {% set needs_to_vote = submission_period.accepting_votes and not my_vote %}
            <div class="row">
                <div class="col-xs-2 col-md-1 text-right">
                    {% if not needs_to_submit and not needs_to_vote %}
                        {% set message = "No action required" %}
                        {% set color = "#5cb85c" %}
                        {% set icon = "fa-check-circle-o" %}
                    {% elif needs_to_submit %}
                        {% set message = "Please select your songs" %}
                        {% set color = "#f0ad4e" %}
                        {% set icon = "fa-exclamation-circle" %}
                    {% elif needs_to_vote %}
                        {% set message = "Please submit your votes" %}
                        {% set color = "#f0ad4e" %}
                        {% set icon = "fa-exclamation-circle" %}
                    {% endif %}

                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="{{ message }}"><h1 style="color: {{ color }}; display: inline-block; margin-top: 10px"><i class="fa {{ icon }}"></i></h1><a>

                </div>
                <div class="col-xs-10 col-md-8">
                    <h4 style="margin-top: 10px">{{ submission_period.name }}</h4>
                    {% if submission_period.accepting_submissions %}
                    <h5 class="text-muted" style="font-weight: inherit"><i class="fa fa-clock-o"></i>&nbsp;Submissions due by {{ moment(submission_period.submission_due_date).format('dddd, MMMM D') }}</h5>
                    <h5 class="text-muted" style="font-weight: inherit">{{ submission_period.submissions|length }} of {{ league.users|length }} have submitted</h5>
                    <div class="progress">
                        <div class="progress-bar {% if needs_to_submit %}progress-bar-warning{% else %}progress-bar-success{% endif %} progress-bar-striped" role="progressbar" aria-valuenow="{{ (submission_period.submissions|length / league.users|length * 100)|int }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (submission_period.submissions|length / league.users|length * 100)|int }}%">
                            <span class="sr-only">{{ (submission_period.submissions|length / league.users|length * 100)|int }}% Complete (success)</span>
                        </div>
                    </div>
                    {% elif submission_period.accepting_votes %}
                    <h5 class="text-muted" style="font-weight: inherit"><i class="fa fa-clock-o"></i>&nbsp;Votes due by {{ moment(submission_period.vote_due_date).format('dddd, MMMM D') }}</h5>
                    <h5 class="text-muted" style="font-weight: inherit">{{ submission_period.votes|length }} of {{ league.users|length }} have voted</h5>
                    <div class="progress">
                        {{ progress_per }}
                        <div class="progress-bar {% if needs_to_vote %}progress-bar-warning{% else %}progress-bar-success{% endif %} progress-bar-striped" role="progressbar" aria-valuenow="{{ (submission_period.submissions|length / league.users|length * 100)|int }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (submission_period.votes|length / league.users|length * 100)|int }}%">
                            <span class="sr-only">{{ (submission_period.submissions|length / league.users|length * 100)|int }}% Complete (success)</span>
                        </div>
                    </div>
                    {% else %}
                    <h5 class="text-muted" style="font-weight: inherit"><i class="fa fa-clock-o"></i>&nbsp;Completed on {{ moment(submission_period.vote_due_date).format('dddd, MMMM D') }}</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">100% Complete (success)</span>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-xs-2 col-xs-offset-2 col-md-3 col-md-offset-0 text-right">
                    {% if submission_period.accepting_submissions %}
                        {% if my_submission %}
                            {% set message = "Change Selection" %}
                        {% else %}
                            {% set message = "Select Songs" %}
                        {% endif %}
                    <a href="#submit-modal" data-toggle="modal" data-target="#submit-modal" class="btn btn-success">{{ message }}</a>
                    {% elif submission_period.accepting_votes %}
                    <a href="#vote-modal" data-toggle="modal" data-target="#vote-modal" class="btn btn-primary">Submit Votes</a>
                    <br>
                    <a href="{{ submission_period.playlist_url }}" class="btn btn-link text-muted" target="_blank">View Playlist</a>
                    {% else %}
                    <a href="{{ url_for('view_submission_period', league_id=submission_period.league.id, submission_period_id=submission_period.id) }}" class="btn btn-default">View Results</a>
                    <br>
                    <a href="{{ submission_period.playlist_url }}" class="btn btn-link text-muted" target="_blank">View Playlist</a>
                    {% endif %}
                    {% if league.has_owner(user) %}
                    <br>
                    <a class="btn btn-link text-muted dropdown-toggle" data-toggle="dropdown" id="options-dropdown">Admin</a>
                    <ul class="dropdown-menu" aria-labelledby="options-dropdown">
                        <li><a href="{{ url_for('view_submission_period', league_id=league.id, submission_period_id=submission_period.id, action='edit') }}">Edit Preferences</a></li>
                        <li><a href="{{ url_for('view_submission_period', league_id=league.id, submission_period_id=submission_period.id) }}">View Submission Period</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="bg-danger"><a href="{{ url_for('r_remove_submission_period', league_id=league.id, submission_period_id=submission_period.id) }}"><span class="text-danger">Delete</span></a></li>
                    </ul>
                    {% endif %}
                </div>

            </div>

            {% if not loop.last %}<hr>{% endif %}

            {% endfor %}
        </div>
    </div>
</div>

{% include "modals/members/members.html" %}
{% include "modals/edit_league/edit_league.html" %}
{% include "modals/submit/submit.html" %}
{% include "modals/vote/vote.html" %}

{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
        $('[data-toggle="tooltip"]').tooltip();
        {% if request.args.get('action') == 'submit' %}
        $('#submit-modal').modal('show');
        {% elif request.args.get('action') == 'vote' %}
        $('#vote-modal').modal('show');
        {% elif request.args.get('action') == 'edit' %}
        $('#edit-modal').modal('show');
        {% elif request.args.get('action') == 'members' %}
        $('#members-modal').modal('show');
        {% endif %}
    });
</script>
<script type="text/javascript">
{% include "modals/members/members.js" %}
{% include "modals/edit_league/edit_league.js" %}
{% include "modals/submit/submit.js" %}
{% include "modals/vote/vote.js" %}
</script>
{% endblock %}
