{% extends "base.html" %}

{% block title %}Music League | {{ league.name }}{% endblock %}

{% block css %}
<style>
.avatar-circle {
  width: 32px;
  height: 32px;
  background-color: #777;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.initials {
  position: relative;
  top: 8px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  font-weight: bold;
}
</style>
{% endblock %}

{% block content %}

<div class="container">
    {% if league.has_user(user) and league.preferences.late_submissions and league.current_submission_period and not league.current_submission_period.accepting_submissions and not my_submission and league.current_submission_period.accepting_votes %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-info alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                The deadline for song selection has passed, but it looks like you haven't submitted! You may still do so <strong><a href="?action=submit">here</a></strong>.
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h1>{{ league.name }}</h1>
            <p>Public League <span id="league-created" class="text-muted">Created on {{ moment(league.created).format('MMM D, YYYY') }}</span></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <a href="#users" data-toggle="collapse" class="text-muted" role="button">
                <div class="row">
                    {% for league_user in league.users %}
                    {% if league_user.image_url %}
                    <img src="{{ league_user.image_url }}" alt="" class="img img-circle" height="25" width="25" style="margin-right: -15px">
                    {% endif %}
                    {% endfor %}
                </div>
                <h5 style="font-weight: inherit">{{ league.users|length }} member{% if league.users|length != 1 %}s{% endif %} <i class="fa fa-chevron-down"></i></h5>
            </a>
            <div id="users" class="collapse well">
                <div class="row">
                    {% for league_user in league.users %}
                    <div class="col-sm-6 col-sm-4 text-left" style="margin-bottom: 10px">
                        <a href="{{ url_for('view_user', user_id=league_user.id) }}">
                            {% if league_user.image_url|length %}
                            <img src="{{ league_user.image_url }}" alt="" class="img img-circle" height="32" width="32" style="margin-right: 10px">
                            {% else %}
                            <div class="avatar-circle" style="margin-right: 10px">
                                <span class="initials">{{ league_user.name[0]|upper }}</span>
                            </div>
                            {% endif %}
                            {{ league_user.name }}
                        </a>
                        {% if league.has_owner(league_user) %}
                        <span style="color: #B29600; margin-left: 5px"><i class="fa fa-legal"></i></span>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            {% if league.has_owner(user) %}
            <span data-toggle="modal" data-target="#members-modal">
                <a href="#members-modal" data-toggle="tooltip" data-placement="top" class="btn btn-default" title="Edit League Members"><i class="fa fa-user"></i></a>
            </span>
            <span data-toggle="modal" data-target="#edit-modal">
                <a href="#edit-modal" data-toggle="tooltip" data-placement="top" class="btn btn-default" title="Edit League Preferences"><i class="fa fa-gear"></i></a>
            </span>
            <a href="{{ url_for('post_create_submission_period', league_id=league.id) }}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Create New Submission Period"><i class="fa fa-plus"></i></a>
            {% endif %}

            {% if not league.has_user(user) %}
            <a href="{{ url_for('join_league', league_id=league.id) }}" class="btn btn-default" title="Join League">Join League</a>
            {% endif %}

            <div class="spacer"></div>

            {% if league.has_owner(user) and not league.submission_periods|length %}
            <div class="text-muted text-center" style="border: 3px dashed #b8b8b8; border-radius: 10px; padding: 30px;">
                <span class="lead text-center">You don't have any submission periods.</span>
                <hr>
                <span class="lead text-center"><a href="{{ url_for('post_create_submission_period', league_id=league.id) }}">Create one</a> when you're for people to start submitting songs and voting!</span>
            </div>
            <div class="text-muted" style="padding: 30px 0px">
                <p class="lead">In the future, you can:<br>
                    <ul>
                        <li><p class="lead">create additional submission periods using <a href="#" class="btn btn-sm btn-default"><i class="fa fa-plus"></i></a></p></li>
                        <li><p class="lead">add new members and remove current members using <a href="#" class="btn btn-sm btn-default"><i class="fa fa-user"></i></a></p></li>
                        <li><p class="lead">change the name, how voting works, and other settings using <a href="#" class="btn btn-sm btn-default"><i class="fa fa-gear"></i></a></p></li>
                    </ul>
                </p>
            </div>
            {% endif %}

            {% for submission_period in league.submission_periods|reverse %}
            {% set needs_to_submit = league.has_user(user) and submission_period.accepting_submissions and not my_submission %}
            {% set needs_to_vote = league.has_user(user) and submission_period.accepting_votes and not my_vote %}
            <div class="row">
                <div class="col-xs-2 col-md-1 text-right">
                    {% if not league.has_user(user) %}
                        {% set title = "Viewing Only" %}
                        {% set content = "You are not currently a contributor to this league." %}
                        {% set color = "#b8b8b8" %}
                        {% set icon = "fa-eye" %}
                    {% elif not needs_to_submit and not needs_to_vote %}
                        {% set title = "Complete" %}
                        {% set content = "No action required at this time." %}
                        {% set color = "#5cb85c" %}
                        {% set icon = "fa-check-circle-o" %}
                    {% elif needs_to_submit %}
                        {% set title = "Submission Needed" %}
                        {% set content = "Please select your songs by the due date shown." %}
                        {% set color = "#f0ad4e" %}
                        {% set icon = "fa-exclamation-circle" %}
                    {% elif needs_to_vote %}
                        {% set title = "Votes Needed" %}
                        {% set content = "Please submit your votes by the due date shown." %}
                        {% set color = "#f0ad4e" %}
                        {% set icon = "fa-exclamation-circle" %}
                    {% endif %}

                    <a href="#" data-toggle="popover" data-trigger="hover" data-container="body" data-placement="bottom" title="{{ title }}" data-content="{{ content }}"><h1 style="color: {{ color }}; display: inline-block; margin-top: 10px"><i class="fa {{ icon }}"></i></h1></a>

                </div>
                <div class="col-xs-10 col-md-8">
                    {% if submission_period.is_complete %}
                        {% set progress_bar_type = "progress-bar-success" %}
                        {% set due_date = moment(submission_period.vote_due_date).format('[Completed on] dddd, MMMM D [at] ha') %}
                        {% set progress_perc = 100 %}
                    {% elif submission_period.accepting_submissions %}
                        {% set progress_bar_type = "progress-bar-success" %}
                        {% if needs_to_submit %}
                            {% set progress_bar_type = "progress-bar-warning" %}
                        {% endif %}
                        {% set due_date = moment(submission_period.submission_due_date).format('[Submissions due by] ha [on] dddd, MMMM D') %}
                        {% set progress_perc = (submission_period.submissions|length / league.users|length * 100)|int %}
                        {% set progress_count = submission_period.submissions|length %}
                        {% set progress_action = "submitted" %}
                    {% elif submission_period.accepting_votes %}
                        {% set progress_bar_type = "progress-bar-success" %}
                        {% if needs_to_vote %}
                            {% set progress_bar_type = "progress-bar-warning" %}
                        {% endif %}
                        {% set due_date = moment(submission_period.vote_due_date).format('[Votes due by] ha [on] dddd, MMMM D') %}
                        {% set progress_perc = (submission_period.votes|length / league.users|length * 100)|int %}
                        {% set progress_count = submission_period.votes|length %}
                        {% set progress_action = "voted" %}
                    {% endif %}
                    <h4 style="margin-top: 10px">{{ submission_period.name }}</h4>
                    <h5 class="text-muted" style="font-weight: inherit"><i class="fa fa-clock-o"></i>&nbsp;{{ due_date }}</h5>
                    {% if not submission_period.is_complete %}<h5 class="text-muted" style="font-weight: inherit">{{ progress_count }} of {{ league.users|length }} have {{ progress_action}}</h5>{% endif %}
                    <div class="progress">
                        <div class="progress-bar {{ progress_bar_type }} progress-bar-striped" role="progressbar" aria-valuenow="{{ progress_perc }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress_perc }}%">
                            <span class="sr-only">{{ progress_perc }}% Complete</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2 col-xs-offset-2 col-md-3 col-md-offset-0 text-right">
                    {% if league.has_user(user) and submission_period.accepting_submissions %}
                        {% set message = "Select Songs" %}
                        {% if my_submission %}
                            {% set message = "Change Selection" %}
                        {% endif %}
                    <a href="#submit-modal" data-toggle="modal" data-target="#submit-modal" class="btn btn-success">{{ message }}</a>
                    {% elif league.has_user(user) and submission_period.accepting_votes %}
                    <a href="#vote-modal" data-toggle="modal" data-target="#vote-modal" class="btn btn-primary">Submit Votes</a>
                    <br>
                    <a href="{{ submission_period.playlist_url }}" class="btn btn-link text-muted" target="_blank">Listen to Playlist</a>
                    {% else %}
                    <a href="{{ url_for('view_submission_period', league_id=submission_period.league.id, submission_period_id=submission_period.id) }}" class="btn btn-default">View Results</a>
                    <br>
                    <a href="{{ submission_period.playlist_url }}" class="btn btn-link text-muted" target="_blank">Listen to Playlist</a>
                    {% endif %}
                    {% if league.has_owner(user) %}
                    <br>
                    <a class="btn btn-link text-muted dropdown-toggle" data-toggle="dropdown" id="options-dropdown">Admin</a>
                    <ul class="dropdown-menu" aria-labelledby="options-dropdown">
                        <li><a href="{{ url_for('view_submission_period', league_id=league.id, submission_period_id=submission_period.id, action='edit') }}">Edit Preferences</a></li>
                        <li><a href="{{ url_for('view_submission_period', league_id=league.id, submission_period_id=submission_period.id) }}">View Submission Period</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="bg-danger"><a href="{{ url_for('r_remove_submission_period', league_id=league.id, submission_period_id=submission_period.id) }}"><span class="text-danger">Delete</span></a></li>
                    </ul>
                    {% endif %}
                </div>

            </div>

            {% if not loop.last %}<hr>{% endif %}

            {% endfor %}
        </div>
    </div>
</div>

{% include "modals/members/members.html" %}
{% include "modals/edit_league/edit_league.html" %}
{% include "modals/submit/submit.html" %}
{% include "modals/vote/vote.html" %}

{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        {% if request.args.get('action') == 'submit' %}
        $('#submit-modal').modal('show');
        {% elif request.args.get('action') == 'vote' %}
        $('#vote-modal').modal('show');
        {% elif request.args.get('action') == 'edit' %}
        $('#edit-modal').modal('show');
        {% elif request.args.get('action') == 'members' %}
        $('#members-modal').modal('show');
        {% endif %}
    });
</script>
<script type="text/javascript">
{% include "modals/members/members.js" %}
{% include "modals/edit_league/edit_league.js" %}
{% include "modals/submit/submit.js" %}
{% include "modals/vote/vote.js" %}
</script>
{% endblock %}
