{% extends "base.html" %}

{% block title %}Music League | {{ league.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/league.css">
{% endblock %}

{% block content %}

{% include "league/header.html" %}

<div class="container">

    {% for round in league.submission_periods %}
    <div class="row">
        <div class="round-bar clear">
            <div class="col-md-2">
                <img src="/static/icons/swords_gray.svg" alt="" class="round-status-icon">
            </div>
            <div class="col-md-6">
                <span class="round-title{% if round.is_complete %} complete{% elif  round.is_current_v2 %} current{% endif %}">{{ round.name }}</span>
                <br>
                <svg class="round-divider" width="124" height="5" viewBox="0 0 124 7" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <line stroke-linecap="round" x1="0" y1="2" x2="124" y2="2" stroke="#02B8EF" stroke-width="3"/>
                </svg>
            </div>
            <div class="col-md-2">
                <span class="action-required">You Have <span class="emphasize">Not</span> Submitted</span>
            </div>
            <div class="col-md-2">
                <img src="/static/icons/submit_lightblue.svg" alt="" class="action-button">
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}
