{% extends "frame.html" %}

{% block title %}Music League | {{ league.name }}{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/chart.js@2.7.3/dist/Chart.min.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/analysis_1.css">
{% endblock %}

{% block title_bar_content %}
<span class="league-title">
    <a href="{{ url_for('view_league', league_id=league.id) }}">{{ league.name }}</a>
</span>
<span class="round-title">{{ round.name }}</span>
{% endblock %}

{% block status_bar_content %}
<!-- <div class="container"> -->
    {% set first_place_entries = round.scoreboard.rankings[1] %}
    {% for entry in first_place_entries %}
        {% set place = 1 %}
        {% set display_invalid = not entry.is_valid and entry.potential_points != entry.points %}
        {% set song = tracks_by_uri[entry['uri']] %}
        {% include "results/_song.html" %}

        {% if not loop.last %}
        <div class="container">
            <div class="row">
                <div class="hidden-xs col-sm-12">
                    <svg width="275" height="5" viewBox="0 0 372 7" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <line stroke-linecap="round" x1="0" y1="2" x2="372" y2="2" stroke="#FFFFFF" stroke-width="3"/>
                    </svg>
                </div>
                <div class="col-xs-12 visible-xs" style="border-bottom: 3px solid #FFFFFF"></div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
<!-- </div> -->
{% endblock %}

{% block page_content %}
<!-- <div class="container"> -->
<h1>Songs</h1>
{{ dataJson }}
{{ dataJson|safe }}
{{ dataJson|tojson }}
<canvas id="round-chart" width=300 height=200></canvas>
<script>
    var ctx = document.getElementById("round-chart");
    var data = JSON.parse({{ dataJson|tojson }});
    var datasets = Object.keys(data).map(k => {return {data: data[k]}});
    var chart = new Chart(ctx, {
        type: 'line',
        fill: false,
        lineTension: 0,
        data: {
            label: "Songs by Round",
            datasets: datasets
        }
    });
</script>

<!-- </div> -->
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/jquery.sticky-kit.min.js"></script>
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>
{% endblock %}

