    <div class="modal fade" role="dialog" id="edit-modal" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ url_for('save_league_settings', league_name=league.name) }}" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Edit League</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <a href="#" data-toggle="popover" data-trigger="hover" data-content="League names are not currently editable"><i class="fa fa-question-circle"></i></a>
                            <input type="text" name="name" class="form-control" value="{{ league.name }}" disabled>
                        </div>
                        {% for field_name, field in league.preferences._fields.iteritems()  %}
                        {% if field.input_type == 'number' %}
                        <div class="form-group">
                            <label for="{{ field_name }}">{{ league.preferences._fields[field_name].display_name }}</label>
                            <a href="#" data-toggle="popover" data-trigger="hover" data-content="{{ field.verbose_name }}"><i class="fa fa-question-circle"></i></a>
                            <input type="number" inputmode="numeric" pattern="[0-9]*" min="0" name="{{ field_name }}" class="form-control" value="{{ league.preferences[field_name] }}">
                        </div>
                        {% endif %}
                        {% endfor %}
                        <hr>
                        {% for field_name, field in league.preferences._fields.iteritems()  %}
                        {% if field.input_type == 'checkbox' %}
                        <div class="checkbox">
                            <label><input type="checkbox" name="{{ field_name }}" {% if league.preferences[field_name] %}checked{% endif %}>
                                <strong>{{ field.display_name }}</strong>
                                {% if field.new %}<span class="label label-warning">NEW</span>{% endif %}
                                <p class="help-block">{{ field.verbose_name }}</p></label>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button class="btn btn-link" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
