    <div class="modal fade" role="dialog" id="vote-modal" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ url_for('vote', league_id=league.id) }}" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Submit Votes</h4>
                    </div>
                    <div class="modal-body">
                        {% for uri, track in tracks_by_uri.iteritems() %}
                        <div class="row">
                            <div class="col-md-10">
                                <strong>{{ track['name'] }}</strong><span class="badge" id="{{ uri }}" style="margin-left: 10px">0</span>
                                <br>
                                <span class="text-muted">{{ track['artists'][0]['name'] }}</span>
                            </div>
                            <div class="col-md-2 text-center form-group">
                                <input type="number" class="form-control" name="{{ uri }}">
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button class="btn btn-link" id="cancel" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
