<div class="league-item linked" data-href="{{ url_for('view_league', league_id=league.id) }}">
    <div class="row">
        {% if page_user == league.owner %}
        <a href="{{ url_for('get_remove_league', league_id=league.id) }}" class="btn btn-link text-muted pull-right league-remove" title="Remove League"><i class="fa fa-close"></i></a>
        {% endif %}
        <h3 class="league-title">{{ league.name }}</h3>
        <span class="text-muted">Created by <a href="{{ url_for('view_user', user_id=league.owner.id) }}" title="{{ league.owner.name }}">{{ league.owner.name }}</a> on {{ moment(league.created).format('MMMM D, YYYY') }}</span>
        <div class="league-members">
            {% for user in league.users if user.image_url %}
            <img src="{{ user.image_url }}" alt="" class="img img-circle" height="25" width="25" {% if not loop.first %}style="margin-left: -15px"{% endif %}>
            {% endfor %}
        </div>
        <span class="text-muted">
            {{ league.users[:3]|map(attribute='name')|join(', ') }}
            {% if league.users|length > 3 %}
            and
            <a href="#" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-container="body" data-content="{{ league.users|map(attribute='name')|join('<br>') }}">{{ league.users[3:]|length }} others</a>
            {% endif %}
        </span>
    </div>
</div>
