<div id="user-info">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ page_user.name }}</h1>
            <img class="img img-circle user-img" src="{{ page_user.image_url }}" alt="{{ page_user.name }}" height="100">
            <hr>
            <h5>Owns {{ owner_leagues }} league{% if owner_leagues != 1 %}s{% endif %}</h5>
            <hr>
            <h5>Contributes to {{ contributor_leagues }} league{% if contributor_leagues != 1 %}s{% endif %}</h5>
        </div>
    </div>
</div>
