div, span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#title-bar .leaderboard-label {
    color: #fff;
    font-family: 'Cubano', sans-serif;
    font-size: 18px;
    line-height: 22px;
}
#title-bar .league-title {
    display: block;
    font-family: 'Cubano', sans-serif;
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 20px;
}
#title-bar .top-rankings {
    background-color: rgba(1, 36, 154, 0.85);
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 20px 0px;
    text-align: left;
}
#title-bar .top-rankings .rank {
    display: inline-block;
    height: 25px;
    vertical-align: middle;
    width: 25px;
}
#title-bar .top-rankings .rank.first { background: url('https://s3.amazonaws.com/musicleague-static-assets/icons/01.svg'); }
#title-bar .top-rankings .rank.second { background: url('https://s3.amazonaws.com/musicleague-static-assets/icons/02.svg'); }
#title-bar .top-rankings .rank.third { background: url('https://s3.amazonaws.com/musicleague-static-assets/icons/03.svg'); }

#title-bar .top-rankings .point-count {
    color: #F8C62C;
    font-family: 'Cubano', sans-serif;
    font-size: 48px;
    line-height: 52px;
}

#title-bar .top-rankings .name {
    color: #fff;
    font-family: 'Cubano', sans-serif;
    font-size: 20px;
    line-height: 24px;
}

/* Status Bar */
#status-bar {
    background-color: #02B8EF;
    color: #fff;
    font-family: 'Cubano', sans-serif;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 50px;
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.row .ranking-entry {
    color: #02B8EF;
    font-family: 'Cubano', sans-serif;
}
.row:nth-child(even) .ranking-entry {
    background-color: #F7F7F7;
    border-radius: 8px;
}

.row .ranking-entry .points-wrapper {
    padding: 20px;
    text-align: center;
}

.row .ranking-entry .points-wrapper .points {
    font-size: 48px;
    line-height: 52px;
}

.row .ranking-entry .name-wrapper {
    border-left: 3px solid #02B8EF;
    padding: 20px 10px 20px 40px;
    text-align: left;
}

.row .ranking-entry .name-wrapper .name {
    font-size: 32px;
    line-height: 36px;
}

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}
