@font-face {
    font-family: 'Cubano';
    src: url("https://s3.amazonaws.com/musicleague-static-assets/fonts/cubano-regular-webfont.ttf");
}

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg { text-align: left; }
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg { text-align: center; }
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg { text-align: right; }
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg { text-align: justify; }

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs { text-align: inherit; }
    .text-left-xs { text-align: left; }
    .text-center-xs { text-align: center; }
    .text-right-xs { text-align: right; }
    .text-justify-xs { text-align: justify; }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm { text-align: inherit; }
    .text-left-sm { text-align: left; }
    .text-center-sm { text-align: center; }
    .text-right-sm { text-align: right; }
    .text-justify-sm { text-align: justify; }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md { text-align: inherit; }
    .text-left-md { text-align: left; }
    .text-center-md { text-align: center; }
    .text-right-md { text-align: right; }
    .text-justify-md { text-align: justify; }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg { text-align: inherit; }
    .text-left-lg { text-align: left; }
    .text-center-lg { text-align: center; }
    .text-right-lg { text-align: right; }
    .text-justify-lg { text-align: justify; }
}

body {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 50px;
}

.linked { cursor: pointer; }

#nav-bar {
    background: none;
    border-bottom: 3px solid #fff;
    color: #fff;
    font-size: 14px;
    height: 120px;
    line-height: 19px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: right;
    width: 100%;
}

#nav-bar .brand-wrapper {
    float: left;
    line-height: 120px;
}

#nav-bar .brand-wrapper .brand-icon {
    height: 86px;
    width: 70px;
}

#nav-bar .add-league-wrapper {
    display: inline-block;
    line-height: 120px;
    text-align: right;
    vertical-align: top;
}

#nav-bar .add-league-wrapper .add-league-text { margin-right: 10px; }

#nav-bar .add-league-wrapper .add-league-icon {
    height: 32px;
    width: 32px;
}

#nav-bar .account-divider {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

#nav-bar .account-wrapper {
    display: inline-block;
    line-height: 120px;
    text-align: right;
    vertical-align: top;
}

#nav-bar .account-wrapper .dropdown-menu {
    background-color: rgba(0, 37, 154, 0.85);
    border: 3px solid #fff;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    margin-top: 25px;
    padding: 25px 0px;
}

#nav-bar .account-wrapper .dropdown-menu > li > a {
    color: #fff;
    line-height: 40px;
    vertical-align: middle;
}

#nav-bar .account-wrapper .dropdown-menu > li > a > .text { vertical-align: middle; }

#nav-bar .account-wrapper .dropdown-menu > li > a > .icon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
    width: 16px;
}

#nav-bar .account-wrapper .dropdown-menu > li > a > #profile-icon { background: url("https://s3.amazonaws.com/musicleague-static-assets/icons/profile_icon.svg"); width: 12px; }
#nav-bar .account-wrapper .dropdown-menu > li > a:hover > #profile-icon { background: url("https://s3.amazonaws.com/musicleague-static-assets/icons/profile_icon_blue.svg"); }

#nav-bar .account-wrapper .dropdown-menu > li > a > #settings-icon { background: url("https://s3.amazonaws.com/musicleague-static-assets/icons/settings_icon.svg"); }
#nav-bar .account-wrapper .dropdown-menu > li > a:hover > #settings-icon { background: url("https://s3.amazonaws.com/musicleague-static-assets/icons/settings_icon_blue.svg"); }

#nav-bar .account-wrapper .dropdown-menu > li > a > #logout-icon { background: url("https://s3.amazonaws.com/musicleague-static-assets/icons/logout_icon.svg"); }
#nav-bar .account-wrapper .dropdown-menu > li > a:hover > #logout-icon { background: url("https://s3.amazonaws.com/musicleague-static-assets/icons/logout_icon_blue.svg"); }

#nav-bar .account-wrapper .dropdown-menu > li > a > #admin-icon { background: url("https://s3.amazonaws.com/musicleague-static-assets/icons/admin_icon.svg"); height: 9px; }
#nav-bar .account-wrapper .dropdown-menu > li > a:hover > #admin-icon { background: url("https://s3.amazonaws.com/musicleague-static-assets/icons/admin_icon_blue.svg"); }

#nav-bar .account-wrapper .dropdown-menu > li > a:hover {
    background-color: #fff;
    color: #02b8ef;
}

#nav-bar .account-wrapper .account-name { margin-right:10px; }

#nav-bar .account-wrapper .account-icon {
    cursor: pointer;
    height: 32px;
    width: 32px;
}

#img-bar {
    background: url("https://s3.amazonaws.com/musicleague-static-assets/images/ml_header06.jpg");
    background-attachment: scroll;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

#title-bar {
    background: none;
    color: #fff;
    padding: 50px 0px;
    text-align: center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
