@import url('/static/css/_navbar.css');
@import url('https://fonts.googleapis.com/css?family=Nunito:400');

@font-face {
    font-family: 'Cubano';
    src: url("/static/fonts/Cubano/cubano-regular-webfont.ttf");
}

/* REMOVE THE NAVBAR AND SPACING UP TOP */
.navbar { display: none; margin: 0px; }
.spacer { display: none; }

body { font-family: 'Nunito', sans-serif; }

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#img-bar {
    background: url("/static/images/ml_header06.jpg");
    background-attachment: scroll;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

#title-bar {
    background: none;
    color: #fff;
    padding: 50px 0px;
    text-align: center;
}

    #title-bar .round-title,
    #title-bar .round-action {
        display: inline-block;
        font-family: 'Cubano', sans-serif;
        font-size: 20px;
        line-height: 24px;
    }

        #title-bar .round-title { color: #F8C62C; }

    #title-bar .league-title {
        display: block;
        font-family: 'Cubano', sans-serif;
        font-size: 60px;
        line-height: 72px;
    }

#status-bar {
    background-color: #02B8EF;
    color: #fff;
    font-family: 'Cubano', sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 50px;
    padding: 0px;
    width: 100%;
    z-index: 100;
}

    #status-bar .row { padding: 0px; }
    #status-bar #progress { font-size: 36px; line-height: 40px; }
    #status-bar #progress #num-selected { color: #F8C62C; }
    #status-bar #submit-songs-btn-wrapper { background-color: #5FCC34; padding: 20px 0px; }
    #status-bar #submit-songs-btn-wrapper.disabled { background-color: #D8D8D8; }
        #status-bar #submit-songs-btn-wrapper #submit-songs-btn {
            background: none;
            border: 3px solid #fff;
            border-radius: 8px;
            color: #fff;
            font-size: 20px;
            line-height: 24px;
        }

.song {
    background-color: #efefef;
    border-radius: 8px;
    color: #01249A;
    margin-bottom: 50px;
    padding: 20px 0px;
}

    .song .song-header {
        display: block;
        font-family: 'Cubano', sans-serif;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .song .find-song-inp {
        background: #fff;
        border: 1px solid #02B8EF;
        border-radius: 8px;
        font-size: 20px;
        height: 50px;
        line-height: 24px;
        vertical-align: middle;
    }
        .song .find-song-inp::-webkit-input-placeholder { color: #02B8EF; }
        .song .find-song-inp::-moz-placeholder { color: #02B8EF; opacity: 1; }
        .song .find-song-inp:-ms-input-placeholder { color: #02B8EF; }

    .song .find-song-btn,
    .song .find-song-btn:active,
    .song .find-song-btn:hover,
    .song .find-song-btn:visited {
        background: #02B8EF;
        border: 3px solid #02B8EF;;
        border-radius: 8px;
        color: #fff;
        font-family: 'Cubano', sans-serif;
        font-size: 20px;
        line-height: 24px;
        outline: none;
        width: 100%;
    }

    .song .find-song-btn.visible-xs .search-icon {
        background: url("/static/icons/magnifying_glass_icon_white.svg");
        display: inline-block;
        height: 24px;
        width: 20px;
    }

    .song .song-info { display: none; }

    .song.found { background-color: #5FCC34; }
        .song.found .song-header { color: #fff; }
        .song.found .find-song-inp { border: 3px solid #5FCC34; }
        .song.found .find-song-btn {
            background: none;
            border: 3px solid #fff;
            border-radius: 8px;
            color: #fff;
            font-size: 20px;
            line-height: 24px;
            width: 100%;
        }

        .song.found .song-info {
            color: #fff;
            display: block;
        }

            .song.found .song-info .you-selected {
                display: block;
                font-family: 'Cubano', sans-serif;
                font-size: 22px;
                line-height: 24px;
                margin: 20px 0px;
            }

            .song.found .song-info img {
                display: inline-block;
                height: 100px;
                margin-right: 10px;
                vertical-align: top;
                width: 100px;
            }

            .song.found .song-info .name,
            .song.found .song-info .artist,
            .song.found .song-info .album {
                display: block;
                font-size: 22px;
                line-height: 24px;
            }

            .song.found .song-info .name { font-family: 'Cubano', sans-serif; }

        .song.error { background-color: #F8C62C; }
            .song.error .song-header { color: #01249A; }
            .song.error .find-song-inp { border: 3px solid #F8C62C; }
            .song.error .find-song-btn {
                background: none;
                border: 3px solid #01249A;
                border-radius: 8px;
                color: #01249A;
                font-size: 20px;
                line-height: 24px;
                width: 100%;
            }
            .song.error .find-song-btn.visible-xs .search-icon {
                background: url("/static/icons/magnifying_glass_icon_blue.svg");
            }
            .song.error .song-info {
                color: #01249A;
                display: block;
            }

                .song.error .song-info .you-selected {
                    display: block;
                    font-family: 'Cubano', sans-serif;
                    font-size: 22px;
                    line-height: 24px;
                    margin: 20px 0px;
                }

                .song.error .song-info img {
                    display: inline-block;
                    height: 100px;
                    margin-right: 10px;
                    vertical-align: top;
                    width: 100px;
                }

                .song.error .song-info span {
                    display: inline-block;
                }

                .song.error .song-info .name,
                .song.error .song-info .artist,
                .song.error .song-info .album {
                    display: block;
                    font-size: 22px;
                    line-height: 24px;
                }

                .song.error .song-info .name { font-family: 'Cubano', sans-serif; }
