#title-bar .round-title,
#title-bar .round-action {
    display: inline-block;
    font-family: 'Cubano', sans-serif;
    font-size: 20px;
    line-height: 24px;
}
#title-bar .round-title { color: #F8C62C; }
#title-bar .league-title {
    display: block;
    font-family: 'Cubano', sans-serif;
    font-size: 60px;
    line-height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#title-bar .league-title a { color: #ffffff; }

/* Status Bar */
#status-bar {
    background-color: #02B8EF;
    color: #fff;
    font-family: 'Cubano', sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 50px;
    padding: 0px;
    width: 100%;
    z-index: 100;
}
#status-bar .row { padding: 0px; }
#status-bar #progress { font-size: 36px; line-height: 40px; }
#status-bar #progress #num-selected { color: #F8C62C; }
#status-bar #submit-songs-btn-wrapper { background-color: #5FCC34; padding: 20px; }
#status-bar #submit-songs-btn-wrapper.disabled { background-color: #C0C0C0; }
#status-bar #submit-songs-btn-wrapper #submit-songs-btn {
    background: none;
    border: 3px solid #fff;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

/* Default song panel state */
.song {
    background-color: #F7F7F7;
    border-radius: 8px;
    color: #01249A;
    margin-bottom: 50px;
    padding: 20px 0px;
}
.song .song-header {
    display: block;
    font-family: 'Cubano', sans-serif;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px;
}
.song .find-song-inp {
    background: #fff;
    border: 1px solid #02B8EF;
    border-radius: 8px;
    font-size: 20px;
    height: 50px;
    line-height: 24px;
    vertical-align: middle;
}
    .song .find-song-inp::-webkit-input-placeholder { color: #02B8EF; }
    .song .find-song-inp::-moz-placeholder { color: #02B8EF; opacity: 1; }
    .song .find-song-inp:-ms-input-placeholder { color: #02B8EF; }

.song .comment-inp {
    background: #fff;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 20px;
    vertical-align: middle;
}

.song .song-info {
    display: none;
    float: left;
    position: relative; }
.song .song-info .you-selected {
    display: block;
    font-family: 'Cubano', sans-serif;
    font-size: 22px;
    line-height: 24px;
    margin: 20px 0px 10px 0px;
    vertical-align: middle;
}
.song .song-info .message {
    display: block;
    font-size: 18px;
    line-height: 22px;
    margin: 0px 0px 20px 0px;
    vertical-align: middle;
}
.song .song-info img {
    display: block;
    float: left;
    height: 100px;
    margin-right: 20px;
    vertical-align: top;
    width: 100px;
}
.song .song-info .text-info {
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100px;
}
.song .song-info .text-info .name,
.song .song-info .text-info .artist,
.song .song-info .text-info .album {
    display: block;
    font-size: 18px;
    line-height: 22px;
}
.song .song-info .text-info .name {
    flex: 1;
    font-family: 'Cubano', sans-serif;
}
.song .song-info .text-info .name a {color: #fff;}

/* State: Song successfully returned from Spotify, not a duplicate */
.song.found { background-color: #5FCC34; }
.song.found .song-header { color: #fff; }
.song.found .find-song-inp { border: 3px solid #5FCC34; }
.song.found .song-info {
    color: #fff;
    display: block;
}

/* State: One of: song not found, incorrect format, previously submitted */
.song.warning { background-color: #F8C62C; }
.song.warning .song-header { color: #01249A; }
.song.warning .find-song-inp { border: 3px solid #F8C62C; }
.song.warning .song-info {
    color: #01249A;
    display: block;
}
.song.warning .song-info .text-info { color: #01249A; }
.song.warning .song-info .text-info .name a { color: #01249A; }

.song.error { background-color: #FF2300; }
.song.error .song-header { color: #FFFFFF; }
.song.error .find-song-inp { border: 3px solid #FF2300; }
.song.error .song-info {
    color: #FFFFFF;
    display: block;
}
.song.error .song-info .text-info { color: #FFFFFF; }
.song.error .song-info .text-info .name a {color: #FFFFFF; }
