@import url('/static/css/_navbar.css');
@import url('https://fonts.googleapis.com/css?family=Nunito:400');

@font-face {
    font-family: 'Cubano';
    src: url("/static/fonts/Cubano/cubano-regular-webfont.ttf");
}

/* REMOVE THE NAVBAR AND SPACING UP TOP */
.navbar { display: none; margin: 0px; }
.spacer { display: none; }

body { font-family: 'Nunito', sans-serif; }

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

div, span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Header image */
#img-bar {
    background: url("/static/images/ml_header06.jpg");
    background-attachment: scroll;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* League/Round title inside header image */
#title-bar {
    background: none;
    color: #fff;
    padding: 50px 0px;
    text-align: center;
}
#title-bar .round-title,
#title-bar .round-action {
    display: inline-block;
    font-family: 'Cubano', sans-serif;
    font-size: 20px;
    line-height: 24px;
}
#title-bar .round-title { color: #F8C62C; }
#title-bar .league-title {
    display: block;
    font-family: 'Cubano', sans-serif;
    font-size: 60px;
    line-height: 72px;
}

/* Status Bar */
#status-bar {
    background-color: #02B8EF;
    color: #fff;
    font-family: 'Cubano', sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 50px;
    padding: 0px;
    width: 100%;
    z-index: 100;
}
#status-bar .row { padding: 0px; }
#status-bar #progress { font-size: 36px; line-height: 40px; }
#status-bar #progress #num-spent { color: #F8C62C; }
#status-bar #submit-votes-btn-wrapper { background-color: #5FCC34; padding: 20px; }
#status-bar #submit-votes-btn-wrapper.disabled { background-color: #D8D8D8; }
#status-bar #submit-votes-btn-wrapper #submit-votes-btn {
    background: none;
    border: 3px solid #fff;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

/* Default song panel state */
.song {
    background-color: #fff;
    color: #02B8EF;
    margin-bottom: 0px;
    padding: 15px 0px;
}

.song .song-info {
    color: #02B8EF;
    float: left;
    position: relative;
}
.song .song-info img {
    display: block;
    float: left;
    height: 100px;
    margin-right: 20px;
    vertical-align: top;
    width: 100px;
}
.song .song-info img.visible-xs {
    display: block;
    float: none;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 0px;
    vertical-align: top;
    width: 50px;
}
.song .song-info .text-info {
    color: #02B8EF;
    display: flex;
    flex-direction: column;
    min-height: 100px;
}
.song .song-info .text-info.visible-xs {
    display: block;
    min-height: inherit;
}
.song .song-info .text-info .name,
.song .song-info .text-info .artist,
.song .song-info .text-info .album {
    display: block;
    font-size: 18px;
    line-height: 22px;
}
.song .song-info .text-info .name {
    flex: 1;
    font-family: 'Cubano', sans-serif;
}

.up-down-btn-wrapper {
    background-color: #EFEFEF;
    border-radius: 8px;
    max-height: 100px;
    padding: 25px 0px;
    text-align: center;
}
.up-down-btn-wrapper .down-btn,
.up-down-btn-wrapper .up-btn {
    color: #01249A;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    width: 50px;
}
.up-down-btn-wrapper .down-btn {
    background: url('/static/icons/downvote_blue.svg');
    margin-right: 10px;
}
.up-down-btn-wrapper .up-btn {
    background: url('/static/icons/upvote_blue.svg');
    margin-left: 10px;
}

.up-down-btn-wrapper .vote-count {
    font-family: 'Cubano', sans-serif;
    font-size: 70px;
    line-height: 50px;
}

.up-down-btn-wrapper.voted {
    background-color: #5FCC34;
    color: #fff;
}
.up-down-btn-wrapper.voted .down-btn {
    background: url('/static/icons/downvote_white.svg');
    color: #fff;
}
.up-down-btn-wrapper.voted .up-btn {
    background: url('/static/icons/upvote_white.svg');
    color: #fff;
}
