{% extends "base.html" %}

{% block title %}Music League | Admin{% endblock %}

{% block css %}
<style>
body {background-color: #f3f3f3; }
.user {
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px 25px;
}
.user img {
    display: inline-block;
    height: 36px;
    width: 36px;
}
</style>
{% endblock %}

{% block content %}

<div class="container">
    {% for user in users %}
    <div class="row user">
        <div class="row">
            <div class="col-xs-2 col-sm-1">
                <img src="{{ user.image_url }}" alt="" class="img img-circle">
            </div>
            <div class="col-xs-8 col-sm-4">
                <h5>{{ user.name }}</h5>
            </div>
            <div class="hidden-xs col-sm-4">
                <h5>{{ user.email }}</h5>
            </div>
            <div class="hidden-xs col-xs-8 col-sm-2">
                <h5>{{ user.roles|join(',') }}</h5>
            </div>
            <div class="col-xs-1 text-right">
                <a href="{{ url_for('view_user', user_id=user.id) }}" target="_blank"><h5>View</h5></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
