{% extends "frame.html" %}

{% block title %}Music League | {{ league.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/vote.css">
<style>
.songListHeader {
    background-color: #02B8EF;
    color: #FFFFFF;
    font-family: 'Cubano', sans-serif;
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    text-align: center;
}

.songListHeader .row { padding: 0; }

.songListHeader .progressWrapper {
    display: table;
    width: 80%;
}
.songListHeader .visible-xs .progressWrapper {
    width: 100%;
}

.songListHeader .progressWrapper > .progressIndicator {
    display: table-cell;
    font-size: 26px;
    line-height: 30px;
    vertical-align: middle;
}
.songListHeader .visible-xs .progressWrapper > .progressIndicator {
    font-size: 20px;
    line-height: 24px;
}

.songListHeader .progressWrapper > .progressIndicator > .numSpent,
.songListHeader .progressWrapper > .progressIndicator > .maxVotes {
    display: inline-block;
    font-size: 50px;
    line-height: 50px;
    padding: 0 5px;
    vertical-align: middle;
}
.songListHeader .visible-xs .progressWrapper > .progressIndicator > .numSpent,
.songListHeader .visible-xs .progressWrapper > .progressIndicator > .maxVotes {
    font-size: 30px;
    line-height: 30px;
    padding: 0;
}

.songListHeader .progressWrapper > .progressIndicator > .numSpent {
    color: #F8C62C;
}

.songListHeader .progressWrapper > .statusIconWrapper {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 40px;
}
.songListHeader .visible-xs .progressWrapper > .statusIconWrapper {
    display: table-cell;
    height: 42px;
}

.songListHeader .progressWrapper > .statusIconWrapper > .statusIcon {
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    width: 50px;
}
.songListHeader .visible-xs .progressWrapper > .statusIconWrapper > .statusIcon {
    height: 30px;
    width: 30px;
}

.songListHeader .progressWrapper > .statusIconWrapper > .statusIcon.upVote,
.songListHeader .progressWrapper > .statusIconWrapper > .statusIcon.downVote {
    background: url('/static/icons/upvote.svg');
}
.songListHeader .progressWrapper > .statusIconWrapper > .statusIcon.downVote {
    background: url('/static/icons/downvote.svg');
}

.songListHeader #submitVotesButtonWrapper {
    background-color: #5FCC34;
    padding: 20px;
}
.songListHeader #submitVotesButtonWrapper.disabled { background-color: #D8D8D8; }

.songListHeader #submitVotesButtonWrapper #submitVotesButton {
    background: none;
    border: 3px solid #fff;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

.song {
    margin-bottom: 15px;
    margin-top: 15px;
}
.song:first {
    margin-top: 30px;
}

.song .songInfo > img {
    display: block;
    float: left;
    height: 100px;
    margin-right: 20px;
    vertical-align: top;
    width: 100px;
}
.song .visible-xs .songInfo > img {
    display: block;
    float: none;
    height: 50px;
    margin: inherit 0 10px inherit;
    vertical-align: top;
    width: 50px;
}

.song .songInfo > .textInfo {
    color: #02B8EF;
    display: flex;
    flex-direction: column;
    min-height: 100px;
}

.song .songInfo > .textInfo > .trackName,
.song .songInfo > .textInfo > .trackArtist,
.song .songInfo > .textInfo > .trackAlbum {
    display: block;
    font-size: 18px;
    line-height: 22px;
}
.song .songInfo > .textInfo > .trackName {
    flex: 1;
    font-family: 'Cubano', sans-serif;
}

.song .voteControl {
    background-color: #e1e1e1;
    border-radius: 8px;
    color: #01249A;
    padding: 20px;
}
.song .visible-xs .voteControl {
    padding: 5px;
}

.song .voteControl.downVoted,
.song .voteControl.upVoted {
    background-color: #02B8EF;
    color: #FFFFFF;
}

.song .voteControl > .voteControlInner {
    display: table;
    width: 100%;
}

.song .voteControl > .voteControlInner > .downButton,
.song .voteControl > .voteControlInner > .upButton {
    background: url("http://musicleague.xyz/static/icons/downvote_blue.svg");
    background-repeat:no-repeat;
    background-size: 100%;
    cursor: pointer;
    display: table-cell;
    height: 50px;
    vertical-align: middle;
    width: 50px;
}

.song .voteControl.downVoted > .voteControlInner > .downButton,
.song .voteControl.upVoted > .voteControlInner > .downButton {
    background: url("http://musicleague.xyz/static/icons/downvote_white.svg");
}

.song .voteControl > .voteControlInner > .upButton {
    background: url("http://musicleague.xyz/static/icons/upvote_blue.svg");
}

.song .voteControl.downVoted > .voteControlInner > .upButton,
.song .voteControl.upVoted > .voteControlInner > .upButton {
    background: url("http://musicleague.xyz/static/icons/upvote_white.svg");
}

.song .voteControl > .voteControlInner > .pointCount {
    display: table-cell;
    font-family: 'Cubano', sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

.song .visible-xs .voteControl > .voteControlInner > .pointCount {
    font-size: 40px;
    line-height: 50px;
}

.song .voteControl > .voteControlInner > .statusIconWrapper {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 70px;
}
.song .visible-xs .voteControl > .statusIconWrapper {
    display: block;
    text-align: center;
    vertical-align: middle;
}

.song .voteControl > .voteControlInner > .statusIconWrapper > .statusIcon,
.song .visible-xs .voteControl > .statusIconWrapper > .statusIcon {
    background: url('/static/icons/novote.svg');
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    width: 50px;
}
.song .visible-xs .voteControl > .statusIconWrapper > .statusIcon {
    margin-bottom: -10px;
    margin-top: 10px;
}
.song .voteControl.downVoted > .voteControlInner > .statusIconWrapper > .statusIcon,
.song .visible-xs .voteControl.downVoted > .statusIconWrapper > .statusIcon {
    background: url('/static/icons/downvote.svg');
}
.song .voteControl.upVoted > .voteControlInner > .statusIconWrapper > .statusIcon,
.song .visible-xs .voteControl.upVoted > .statusIconWrapper > .statusIcon {
    background: url('/static/icons/upvote.svg');
}
</style>
{% endblock %}

{% block title_bar_content %}
<span class="round-title">{{ round.name }}:&nbsp;</span>
<span class="round-action">Voting</span>
<span class="league-title">{{ league.name }}</span>
{% endblock %}

{% block page_content %}
    <div id="mountVote"></div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/jquery.sticky-kit.min.js"></script>
<script src="https://unpkg.com/react@15/dist/react.min.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
<script type="text/javascript" src="/static/js/react/vote.js"></script>
<script type="text/javascript">
    // Pass template data to React component
    ReactDOM.render(
        React.createElement(SongList, {
            uris: {{ tracks_by_uri.keys()|tojson|safe }},
            maxDownVotes: {{ 2|tojson|safe }},
            maxUpVotes: {{ league.preferences.point_bank_size|tojson|safe }}
        }),
        document.getElementById('mountVote')
    );
</script>
{% endblock %}
