{% extends "frame.html" %}

{% block title %}Music League | {{ league.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/vote.css">
{% endblock %}

{% block title_bar_content %}
<span class="round-title">{{ round.name }}:&nbsp;</span>
<span class="round-action">Voting</span>
<span class="league-title">{{ league.name }}</span>
{% endblock %}

{% block status_bar_content %}
<form method="post">
    <div class="container">
        <div class="row">
            <div class="hidden-xs col-sm-4 col-md-4 vcenter text-center">
                <span id="paste-directive">Choose A Song And Add Points To Begin!</span>
            </div><!--
            --><div class="col-xs-6 col-sm-3 col-md-4 vcenter text-center">
                <span id="progress"><span id="num-spent">00</span> of <span id="max-votes">{{ "%02d" % league.preferences.point_bank_size }}</span></span>
                <br>
                <span><span class="hidden-xs">Points </span>Spent</span>
            </div><!--
            --><div class="col-xs-6 col-sm-5 col-md-4 vcenter text-center disabled" id="submit-votes-btn-wrapper">
                <button type="submit" id="submit-votes-btn" class="btn btn-lg disabled" disabled>Submit<span class="hidden-xs"> Votes</span>!</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="container">
        {% for uri, song in tracks_by_uri.iteritems() %}
        <div class="song row" data-uri="{{ uri }}" {% if my_vote and uri in my_vote.votes %}data-votes="{{ my_vote.votes[uri] }}"{% else %}data-votes="0"{% endif %}>
            <div class="visible-xs">
                <div class="row-height">
                    <div class="song-info col-xs-6 col-height">
                        <img src="{{ song['album']['images'][1]['url'] }}" alt="" class="img img-rounded">
                        <div class="text-info visible-xs">
                            <span class="vcenter name">{{ song['name'] }}</span>
                            <span class="vcenter artist">By {{ song['artists'][0]['name'] }}</span>
                            <span class="vcenter album">{{ song['album']['name'] }}</span>
                        </div>
                    </div>
                    <div class="up-down-btn-wrapper col-xs-6 col-height">
                        <div style="display: table; width: 100%;">
                            <span class="down-btn"></span>
                            <span class="vote-count">0</span>
                            <span class="up-btn"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden-xs">
                <div class="row-height">
                    <div class="song-info col-sm-7 col-md-8 col-height">
                        <img src="{{ song['album']['images'][1]['url'] }}" alt="" class="img img-rounded hidden-xs">
                        <div class="text-info hidden-xs">
                            <span class="vcenter name">{{ song['name'] }}</span>
                            <span class="vcenter artist">By {{ song['artists'][0]['name'] }}</span>
                            <span class="vcenter album">{{ song['album']['name'] }}</span>
                        </div>
                    </div>
                    <div class="up-down-btn-wrapper col-sm-5 col-md-4 col-height" unselectable="on">
                        <div style="display: table; width: 100%;">
                            <span class="down-btn"></span>
                            <span class="vote-count">0</span>
                            <span class="up-btn"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 25px; margin-bottom: 25px;">
            <div class="col-sm-12 hidden-xs">
                <svg width="275" height="5" viewBox="0 0 372 7" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <line stroke-linecap="round" x1="0" y1="2" x2="372" y2="2" stroke="#02B8EF" stroke-width="3"/>
                </svg>
            </div>
            <div class="col-xs-12 visible-xs" style="border-bottom: 3px solid #02B8EF">
            </div>
        </div>

        {% endfor %}
        <input type="hidden" id="votes-inp" name="votes">
    </div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/jquery.sticky-kit.min.js"></script>
<script type="text/javascript" src="/static/js/vote.js"></script>
{% endblock %}
