{% extends "base.html" %}

{% block title %}Feedback | {{ session.name }}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="well col-md-4 col-md-offset-4">
            <h1 class=text-center>{{ session.name }}</h1>
            <ul>
                <li>Created: {{ session.created }}</li>
                <li>Submissions: {{ session.submissions|length }}</li>
                <li>Locked: {{ session.locked }}</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
