{% extends "base.html" %}

{% block title %}Music League | {{ submission_period.name }}{% endblock %}

{% block content %}

<div class="container">

    {% include "submission_period/header.html" %}

    <div class="spacer"></div>

    <div class="row">
        <div class="col-md-12">

            <table class="table">
                <thead>
                    <tr>
                        <th class="track {% if not submission_period.is_complete %}hidden{% endif %}">Tracks</th>
                        <th>Submitter</th>
                        {% for vote in submission_period.votes %}
                        <th class="vote {% if not submission_period.is_complete %}hidden{% endif %}">{{ vote.user.name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for submission in submission_period.submissions|reverse %}
                        {% for uri_or_url in submission.tracks %}
                        {% set track = tracks_by_uri.get(uri_or_url) or tracks_by_url.get(uri_or_url) %}
                        <tr{% if loop.index > 1 %} class="multirow {% if not submission_period.is_complete %}hidden{% endif %}"{% endif %}>
                            <td class="track {% if not submission_period.is_complete %}hidden{% endif %}">
                                {% if track %}
                                <a href="{{ track.get('external_urls').get('spotify') }}" target="_blank">{{ track.get('name') }}</a> by <a href="{{ track.get('artists')[0].get('external_urls').get('spotify') }}" target="_blank">{{ track.get('artists')[0].get('name') }}</a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ url_for('view_user', user_id=submission.user.id) }}">{{ submission.user.name }}</a>
                            </td>
                            {% for vote in submission_period.votes %}
                            <td class="vote {% if not submission_period.is_complete %}hidden{% endif %}">{{ vote.votes.get(track['uri']) }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% include "modals/edit_submission_period/edit_submission_period.html" %}

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
{% include "modals/edit_submission_period/edit_submission_period.js" %}
$(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();

    $('#show-hide').click(function() {
        $('.vote,.track,.multirow').toggleClass('hidden');
    });
});
</script>
{% endblock %}
