{% extends "base.html" %}

{% block title %}Music League | {{ page_user.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/profile.css">
{% endblock %}

{% block content %}

{% include "profile/header.html" %}

<div class="container">

    <div id="leagues">
        {% for row in leagues|batch(3) %}
        <div class="row">
            {% for league in row %}
            <div class="col-sm-4">
                <div class="league-item linked" data-href="{{ url_for('view_league', league_id=league.id) }}">
                    <div class="league-tile">
                        <div class="league-tile-inner">
                            <span class="league-title{% if league.is_complete %} complete{% endif %}">{{ league.name }}</span>
                        </div>
                    </div>
                    <div class="created-by">
                        Created by <a href="{{ url_for('view_user', user_id=league.owner.id )}}" class="creator-name">{{ league.owner.name }}</a> on {{ moment(league.created).format('MM.DD.YY') }}
                    </div>
                    <div class="members">
                        <div class="images">
                            {% for member in league.users if member.image_url %}
                            <img src="{{ member.image_url }}" alt="" class="img img-circle">
                            {% endfor %}
                        </div>
                        {{ league.users|length }} Members
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
