{% extends "base.html" %}

{% block title %}Music League | {{ page_user.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/profile.css">
{% endblock %}

{% block content %}

{% include "profile/header.html" %}

<div class="container">

    <div id="leagues">
        {% for row in leagues|batch(3) %}
        <div class="row">
            {% for league in row %}
            <div class="col-sm-6 col-md-4">
                <div class="league-item">
                    <div class="league-tile linked" data-href="{{ url_for('view_league', league_id=league.id) }}">
                        <div class="league-tile-inner">
                            {% if league.is_inactive %}
                            <img class="league-icon inactive" src="/static/icons/clock_gray.svg" alt="">
                            <div class="league-title inactive">{{ league.name }}</div>
                            {% elif league.is_complete %}
                            <img class="league-icon complete" src="/static/icons/completed_league_icon.svg" alt="">
                            <div class="league-title complete">{{ league.name }}</div>
                            {% else %}
                            <img class="league-icon" src="/static/icons/live_league_icon.svg" alt="">
                            <div class="league-title">{{ league.name }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="created-by">
                        Created by <a href="{{ url_for('view_user', user_id=league.owner.id )}}" class="creator-name">{% if league.has_owner(user) %}YOU{% else %}{{ league.owner.name }}{% endif %}</a> on {{ moment(league.created).format('MM.DD.YY') }}
                    </div>
                    <div class="members">
                        <div class="images">
                            {% for member in league.users if member.image_url %}
                            <img src="{{ member.image_url }}" alt="{{ member.name }}" class="img img-circle">
                            {% endfor %}
                        </div>
                        <a href="#" data-toggle="popover" data-trigger="hover" data-placement="right" data-container="body" data-content="{{ league.users|map(attribute='name')|join('<br>') }}">{{ league.users|length }} Member{% if league.users|length != 1 %}s{% endif %}</a>
                    </div>
                    {% if league.has_owner(user) %}
                    <div class="admin">
                        <a class="admin-toggle collapsed" title="Admin Controls" data-toggle="collapse" data-target="#{{ league.id }}-controls"></a>
                        <span id="{{ league.id }}-controls" class="admin-controls collapse width">
                            <a href="{{ url_for('get_manage_league', league_id=league.id) }}" title="Manage League" class="control"><span class="manage"></span></a>
                            <a data-remove-url="{{ url_for('get_remove_league', league_id=league.id) }}" title="Remove League" class="control"><span class="remove"></span></a>
                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/profile.js"></script>
{% endblock %}
