{% extends "frame_with_status.html" %}

{% block title %}Music League | {{ page_user.name }}{% endblock %}

{% block css %}
<link href="//jschr.github.io/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" />
<link href="//jschr.github.io/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/css/profile_2.css">
<style>
    #img-bar {
        background-image: url('https://s3.amazonaws.com/musicleague-static-assets/images/{{ page_user.profile_background }}') !important;
    }
</style>
{% endblock %}

{% block title_bar_content %}
<div id="user-bar">
    <div id="owned-leagues-outer" class="hidden-xs">
        <img src="https://s3.amazonaws.com/musicleague-static-assets/icons/star_lightblue.svg" alt="" id="owned-leagues-star">
        <div id="owned-leagues-inner">
            <span class="owned-leagues">Leagues</span>
            <span class="owned-leagues owned-leagues-count">{{ "%02d" % contributor_leagues }}</span>
            <span class="owned-leagues">Rocked</span>
        </div>
    </div>
    <div id="user-img" style="background: url('{{ page_user.image_url }}') no-repeat center; background-size: cover;"></div>
    <div id="scores-outer" class="hidden-xs">
        <div id="scores-inner">
            <span class="score-item">1st - <span class="score">00</span></span>
            <span class="score-item">2nd - <span class="score">00</span></span>
            <span class="score-item">3rd - <span class="score">00</span></span>
        </div>
        <img src="https://s3.amazonaws.com/musicleague-static-assets/icons/star_lightblue.svg" alt="" id="scores-star">
    </div>
    <span id="user-name">{{ page_user.name }}</span>
    <div class="visible-xs" style="margin-bottom: 20px">
        <div id="owned-leagues-outer">
            <div id="owned-leagues-inner">
                <span class="owned-leagues">Leagues</span>
                <span class="owned-leagues-count">{{ "%02d" % contributor_leagues }}</span>
                <span class="owned-leagues">Rocked</span>
            </div>
        </div>
        <div id="stars">
            <img src="https://s3.amazonaws.com/musicleague-static-assets/icons/star_lightblue.svg" alt="" class="star">
            <img src="https://s3.amazonaws.com/musicleague-static-assets/icons/star_lightblue.svg" alt="" class="star">
        </div>
        <div id="scores-outer">
            <div id="scores-inner">
                <span class="score-item">1st - <span class="score">0</span></span>
                <span class="score-item">2nd - <span class="score">0</span></span>
                <span class="score-item">3rd - <span class="score">0</span></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block status_bar_content %}
<span>{% if page_user.id == user.id %}Your{% else %}{{ page_user.first_name }}&rsquo;s{% endif %} Leagues</span>
{% endblock %}


{% block page_content %}
<div class="container">

    <div id="leagues">
        {% for row in leagues|batch(3) %}
        <div class="row">
            {% for league in row %}
            <div class="col-sm-6 col-md-4">
                <div class="league-item">
                    <div class="league-tile linked" data-href="{{ url_for('view_league', league_id=league.id) }}">
                        <div class="league-tile-inner">
                            {% if league.is_inactive %}
                            <img class="league-icon inactive" src="https://s3.amazonaws.com/musicleague-static-assets/icons/clock_gray.svg" alt="">
                            <div class="league-title inactive">{{ league.name }}</div>
                            {% elif league.is_complete %}
                            <img class="league-icon complete" src="https://s3.amazonaws.com/musicleague-static-assets/icons/completed_league_icon.svg" alt="">
                            <div class="league-title complete">{{ league.name }}</div>
                            {% else %}
                            <img class="league-icon" src="https://s3.amazonaws.com/musicleague-static-assets/icons/live_league_icon.svg" alt="">
                            <div class="league-title">{{ league.name }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="created-by">
                        Created by <a href="{{ url_for('view_user', user_id=league.owner.id )}}" class="creator-name">{% if league.has_owner(user) %}YOU{% else %}{{ league.owner.name }}{% endif %}</a> on {{ moment(league.created).format('MM.DD.YY') }}
                    </div>
                    <div class="members">
                        <div class="images">
                            {% for member in league.users[:4] if member.image_url %}
                            <img src="{{ member.image_url }}" alt="{{ member.name }}" class="img img-circle">
                            {% endfor %}
                            {% if league.users|length > 4 %}
                            <div style="background: none; display: inline-table; height: 40px; vertical-align: middle; width: 40px;">
                               <div style="display: table-cell; text-align: center; vertical-align: middle;">
                                    <a href="#" data-toggle="popover" data-trigger="hover" data-placement="right" data-container="body" data-content="{{ league.users|map(attribute='name')|join('<br>') }}">
                                        &#43;&nbsp;{{ league.users|length - 4 }}
                                    </a>
                               </div>
                            </div>
                            {% endif %}
                        </div>
                        <!--<a href="#" data-toggle="popover" data-trigger="hover" data-placement="right" data-container="body" data-content="{{ league.users|map(attribute='name')|join('<br>') }}">{{ league.users|length }} Member{% if league.users|length != 1 %}s{% endif %}</a>-->
                    </div>
                    {% if league.has_owner(user) %}
                    <div class="admin">
                        <a class="admin-toggle collapsed" title="Admin Controls" data-toggle="collapse" data-target="#{{ league.id }}-controls"></a>
                        <span id="{{ league.id }}-controls" class="admin-controls collapse width">
                            <a href="{{ url_for('get_manage_league', league_id=league.id) }}" title="Manage League" class="control"><span class="manage"></span></a>
                            <a href="#" data-name="{{ league.name }}" data-remove-url="{{ url_for('get_remove_league', league_id=league.id) }}" title="Remove League" class="control"><span class="remove"></span></a>
                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

</div>

<div id="delete-league-modal" class="modal" role="dialog">
    <div class="modal-header text-left">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Delete League</h3>
    </div>
    <div class="modal-body text-left">
        <span>Are you sure you want to delete <strong id="league-name">League Name</strong>?</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-default" id="cancel-delete-league-btn" data-dismiss="modal">Cancel</button>
        <a href="#" class="btn btn-lg btn-danger" id="delete-league-btn">Delete</a>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="//jschr.github.io/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
<script src="//jschr.github.io/bootstrap-modal/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/static/js/profile.js"></script>
{% endblock %}
