{% extends "base.html" %}

{% block title %}Music League | {{ league.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/submit.css">
{% endblock %}

{% block content %}

{% include "submit/header.html" %}

<div class="container">

    {% for song_num in range(league.preferences.track_count) %}
    <div class="song row">
        <div class="col-xs-12">
            <div class="col-xs-12">
                <span class="song-header">Song {{ "%02d" % (song_num + 1) }}</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-sm-8">
                <div class="form-group">
                    <input type="text" class="form-control find-song-inp" placeholder="Paste Your Spotify Song Link or URI" {% if loop.first %}autofocus="true"{% endif %}>
                </div>
            </div><!--
            --><div class="col-sm-4 text-center">
                <button type="button" class="btn btn-lg find-song-btn">Find It!</button>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/submit.js"></script>
{% endblock %}
