{% extends "frame.html" %}

{% block title %}Music League | {{ league.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/submit.css">
{% endblock %}

{% block title_bar_content %}
<span class="round-title">{{ round.name }}:&nbsp;</span>
<span class="round-action">Submitting</span>
<span class="league-title">{{ league.name }}</span>
{% endblock %}

{% block page_content %}
<form method="post">
    <div id="status-bar">
        <div class="container">
            <div class="row">
                <div class="hidden-xs col-sm-4 col-md-4 vcenter text-center">
                    <span id="paste-directive">Paste A Link Below And Tap “Find It” To Begin!</span>
                </div><!--
                --><div class="col-xs-6 col-sm-3 col-md-4 vcenter text-center">
                    <span id="progress"><span id="num-selected">00</span> of {{ "%02d" % league.preferences.track_count }}</span>
                    <br>
                    <span><span class="hidden-xs">Songs </span>Selected</span>
                </div><!--
                --><div class="col-xs-6 col-sm-5 col-md-4 vcenter text-center disabled" id="submit-songs-btn-wrapper">
                    <button type="submit" id="submit-songs-btn" class="btn btn-lg disabled" disabled>Submit<span class="hidden-xs"> Songs</span>!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% if previous_tracks %}
            {% set tracks = previous_tracks %}
            <input id="previous-submission" type="hidden" value="{{ tracks }}">
            <input id="duplicate-artists" type="hidden" value="{{ duplicate_artists }}">
            <input id="duplicate-songs" type="hidden" value="{{ duplicate_songs }}">
        {% elif my_submission %}
            {% set tracks = my_submission.tracks %}
        {% else %}
            {% set tracks = [] %}
        {% endif %}

        {% for song_num in range(league.preferences.track_count) %}
        {% set submitted_uri  = tracks[song_num] %}
        {% if submitted_uri and submitted_uri not in duplicate_tracks and submitted_uri not in duplicate_artists %}
        <div class="song row{% if submitted_uri %} found{% endif %}" {% if submitted_uri %}data-uri="{{ submitted_uri }}"{% endif %}>
        {% elif submitted_uri and submitted_uri in duplicate_songs %}
        <div class="song row error duplicate-song">
        {% elif submitted_uri and submitted_uri in duplicate_artists %}
        <div class="song row error duplicate-artist">
        {% else %}
        <div class="song row">
        {% endif %}
            <div class="col-xs-12">
                <span class="song-header">Song {{ "%02d" % (song_num + 1) }}</span>
            </div>
            <div class="col-xs-9 col-sm-7 col-md-8">
                <input type="text" class="form-control find-song-inp" placeholder="Spotify Song Link" {% if loop.first %}autofocus="true"{% endif %}>
            </div>
            <div class="col-xs-3 col-sm-5 col-md-4 text-center find-song-btn-wrapper">
                <button type="button" class="hidden-xs btn btn-lg find-song-btn">Find It!</button>
                <button type="button" class="visible-xs btn btn-lg find-song-btn"><span class="search-icon"></span></button>
            </div>
            <div class="song-info">
                <div class="col-xs-12">
                    <span class="you-selected">You Selected:</span>
                </div>
                <div class="col-xs-12">
                    <img src="" alt="" class="img">
                    <div class="text-info">
                        <span class="name"></span>
                        <span class="artist"></span>
                        <span class="album"></span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <input type="hidden" id="songs-inp" name="songs">
    </div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/jquery.sticky-kit.min.js"></script>
<script type="text/javascript" src="/static/js/submit.js"></script>
{% endblock %}
