{% extends "base.html" %}

{% block title %}Music League | {{ submission_period.name }}{% endblock %}

{% block content %}

<div class="container">

    {% include "submit/header.html" %}

    <div class="row">
        <div class="container col-md-8 col-md-offset-2">
            <form action="{{ url_for('submit', league_id=league.id, submission_period_id=submission_period.id) }}" method="post">

                {% for i in range(1, league.preferences.track_count + 1) %}
                <div class="form-group">
                    <label for="track{{ i }}">Track #{{ i }}</label>&nbsp;<a href="#" class="text-muted" style="display: none"><i class="fa fa-close"></i></a>
                    <input type="text" class="form-control track-input" name="track{{ i }}" placeholder="Spotify Link or URI" {% if i == 1 %}autofocus{% endif%}
                        {% if my_submission and my_submission.tracks|length >= i %}value="{{ my_submission.tracks[i - 1] }}"{% endif %}>
                    <iframe id="track{{ i }}" width="100%" height="80" frameborder="0" allowtransparency="true"
                        {% if my_submission and my_submission.tracks|length >= i %}src="https://embed.spotify.com/?uri={{ my_submission.tracks[i - 1] }}"{% endif %}></iframe>
                </div>
                {% endfor %}

                <button type="submit" class="btn btn-success">Submit</button>
                <a href="{{ url_for('view_league', league_id=league.id) }}" class="btn btn-link">Cancel</a>

            </form>
        </div>
    </div>

</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
{% include "submit/submit.js" %}
</script>
{% endblock %}
