{% extends "frame.html" %}

{% block title %}Music League | Admin{% endblock %}

{% block css %}
<style>
#title-bar { margin-bottom: 30px; padding: 0; }
</style>
{% endblock %}

{% block page_content %}

<div class="container">
    <div class="row">
        <div class="col-md-2 well">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation"><a href="{{ url_for('admin_users') }}">Users</a></li>
                <li role="presentation"><a href="{{ url_for('admin_leagues') }}">Leagues</a></li>
                <li role="presentation" class="active"><a href="{{ url_for('admin_tools') }}">Tools</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <a href="{{ url_for('clean_submission_periods') }}" class="btn btn-primary">Clean Submission Periods</a>
            <a href="{{ url_for('clean_submissions') }}" class="btn btn-primary">Clean Submissions</a>
        </div>
    </div>
</div>

{% endblock %}
