{% extends "frame.html" %}

{% block title %}Music League | {{ league.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/leaderboard.css">
{% endblock %}

{% block title_bar_content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <span class="league-title">{{ league.name }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="row-fluid top-rankings">
                <div class="row-height">
                    {% set top = league.scoreboard.top %}
                    <div class="col-xs-4 vcenter col-height">
                        <span class="rank first"></span>
                        {% if top|length >= 1 %}
                            {% set first = top[0] %}
                            <span class="point-count">{{ first.points }}</span>
                            <span class="name">{{ first.user.name }}</span>
                        {% endif %}
                    </div>
                    <div class="col-xs-4 vcenter col-height">
                        <span class="rank second"></span>
                        {% if top|length >= 2 %}
                            {% set second = top[1] %}
                            <span class="point-count">{{ second.points }}</span>
                            <span class="name">{{ second.user.name }}</span>
                        {% endif %}
                    </div>
                    <div class="col-xs-4 vcenter col-height">
                        <span class="rank third"></span>
                        {% if top|length >= 3 %}
                            {% set third = top[2] %}
                            <span class="point-count">{{ third.points }}</span>
                            <span class="name">{{ third.user.name }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block status_bar_content %}
    <div class="container">
        All Point Totals
    </div>
{% endblock %}

{% block page_content %}
<div class="container">
    {% for ranking, ranking_entries in league.scoreboard.rankings.iteritems() %}
        {% for entry in ranking_entries %}
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="row-fluid ranking-entry">
                    <div class="row-height">
                        <div class="col-xs-4 col-sm-3 col-md-2 points-wrapper vcenter col-height">
                            <span class="points">{{ entry.points }}</span>
                        </div>
                        <div class="col-xs-8 col-sm-9 col-md-10 name-wrapper vcenter col-height">
                            <span class="name">{{ entry.user.name }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
