{% extends "frame_with_status.html" %}

{% block title %}Music League | {{ league.name }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/leaderboard.css">
{% endblock %}

{% block title_bar_content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <span class="league-title">{{ league.name }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-left">
            <div class="row-fluid">
                <div class="col-xs-12">
                    <span class="leaderboard-label">Leaderboard:</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="row-fluid top-rankings">
                <div class="row-height">
                    {% set top = league.scoreboard.top %}
                    <div class="col-xs-12 col-md-4 vcenter">
                        <div style="display: table">
                            <div style="display: table-cell; padding-right: 10px; vertical-align: middle;">
                                <span class="rank first"></span>
                            </div>
                            {% if top|length >= 1 %}
                                {% set first = top[0] %}
                                <div style="display: table-cell; padding-right: 10px; vertical-align: middle;">
                                    <span class="point-count">{{ "%02d" % first.points }}</span>
                                </div>
                                <div style="display: table-cell; vertical-align: middle;">
                                    <span class="name">{{ first.user.name }}</span>
                                </div>
                            {% else %}
                                <div style="display: table-cell; padding-right: 10px; vertical-align: middle;">
                                    <span class="point-count">??</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 vcenter">
                        <div style="display: table">
                            <div style="display: table-cell; padding-right: 10px; vertical-align: middle;">
                                <span class="rank second"></span>
                            </div>
                            {% if top|length >= 2 %}
                                {% set second = top[1] %}
                                <div style="display: table-cell; padding-right: 10px; vertical-align: middle;">
                                    <span class="point-count">{{ "%02d" % second.points }}</span>
                                </div>
                                <div style="display: table-cell; vertical-align: middle;">
                                    <span class="name">{{ second.user.name }}</span>
                                </div>
                            {% else %}
                                <div style="display: table-cell; padding-right: 10px; vertical-align: middle;">
                                    <span class="point-count">??</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 vcenter">
                        <div style="display: table">
                            <div style="display: table-cell; padding-right: 10px; vertical-align: middle;">
                                <span class="rank third"></span>
                            </div>
                            {% if top|length >= 3 %}
                                {% set third = top[2] %}
                                <div style="display: table-cell; padding-right: 10px; vertical-align: middle;">
                                    <span class="point-count">{{ "%02d" % third.points }}</span>
                                </div>
                                <div style="display: table-cell; vertical-align: middle;">
                                    <span class="name">{{ third.user.name }}</span>
                                </div>
                            {% else %}
                                <div style="display: table-cell; padding-right: 10px; vertical-align: middle;">
                                    <span class="point-count">??</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block status_bar_content %}
    <div class="container">
        All Point Totals
    </div>
{% endblock %}

{% block page_content %}
<div class="container">
    {% if league.scoreboard %}
        {% for ranking, ranking_entries in league.scoreboard.rankings.iteritems() %}
            {% for entry in ranking_entries %}
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <div class="row-fluid ranking-entry">
                        <div class="row-height">
                            <div class="col-xs-4 col-sm-3 col-md-2 points-wrapper vcenter col-height">
                                <span class="points">{{ "%02d" % entry.points }}</span>
                            </div>
                            <div class="col-xs-8 col-sm-9 col-md-10 name-wrapper vcenter col-height">
                                <span class="name">{{ entry.user.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script type="text/babel" src="/static/js/leaderboard.jsx"></script>
{% endblock %}
